force-app/main/default/flows/Auto_Populating_MEM_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_AA_MEM_Group</name>
        <label>Assign AA MEM Group</label>
        <locationX>1634</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.MEM_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Agreement_and_Contract__r.Matter_Engagement_Model_Group__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_CR_MEM_Group</name>
        <label>Assign CR MEM Group</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.MEM_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Copyright__r.Matter_Engagement_Model_Group__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Design_MEM_Group</name>
        <label>Assign Design MEM Group</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.MEM_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Design__r.Matter_Engagement_Model_Group__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_DO_MEM_Group</name>
        <label>Assign DO MEM Group</label>
        <locationX>1370</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.MEM_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Dispute_Opposition__r.Matter_Engagement_Model_Group__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_GM_MEM_Group</name>
        <label>Assign GM MEM Group</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.MEM_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__General_Matter__r.Matter_Engagement_Model_Group__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Patent_MEM_Group</name>
        <label>Assign Patent MEM Group</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.MEM_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Patent__r.Matter_Engagement_Model_Group__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_TM_MEM_Group</name>
        <label>Assign TM MEM Group</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.MEM_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Trademark__r.Matter_Engagement_Model_Group__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_MatterMEM_Group</name>
        <label>Check MatterMEM Group</label>
        <locationX>1524</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patent_MEM_Group_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__r.Matter_Engagement_Model_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__General_Matter__r.Matter_Engagement_Model_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design__r.Matter_Engagement_Model_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Trademark__r.Matter_Engagement_Model_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Agreement_and_Contract__r.Matter_Engagement_Model_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Copyright__r.Matter_Engagement_Model_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Dispute_Opposition__r.Matter_Engagement_Model_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Related_Matter_Id</targetReference>
            </connector>
            <label>Patent MEM Group Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Matter_Id</name>
        <label>Check Related Matter Id</label>
        <locationX>974</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__r.Matter_Engagement_Model_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Patent_MEM_Group</targetReference>
            </connector>
            <label>Patent</label>
        </rules>
        <rules>
            <name>General_Matter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__General_Matter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__General_Matter__r.Matter_Engagement_Model_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_GM_MEM_Group</targetReference>
            </connector>
            <label>General Matter</label>
        </rules>
        <rules>
            <name>Trademark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Trademark__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Trademark__r.Matter_Engagement_Model_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TM_MEM_Group</targetReference>
            </connector>
            <label>Trademark</label>
        </rules>
        <rules>
            <name>design</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design__r.Matter_Engagement_Model_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Design_MEM_Group</targetReference>
            </connector>
            <label>design</label>
        </rules>
        <rules>
            <name>copyrights</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Copyright__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Copyright__r.Matter_Engagement_Model_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CR_MEM_Group</targetReference>
            </connector>
            <label>copyrights</label>
        </rules>
        <rules>
            <name>dispute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Dispute_Opposition__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Dispute_Opposition__r.Matter_Engagement_Model_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DO_MEM_Group</targetReference>
            </connector>
            <label>dispute</label>
        </rules>
        <rules>
            <name>Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Agreement_and_Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Agreement_and_Contract__r.Matter_Engagement_Model_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AA_MEM_Group</targetReference>
            </connector>
            <label>Agreement</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Auto Populating MEM Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Populating MEM Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1398</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_MatterMEM_Group</targetReference>
        </connector>
        <object>SymphonyLF__Docketing_Activity__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
