force-app/main/default/flows/Checklist_Instance_Email_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Attorney_Initial_Assignment_Email_Alert</name>
        <label>Attorney Initial Assignment Email Alert</label>
        <locationX>358</locationX>
        <locationY>731</locationY>
        <actionName>Checklist_Instance__c.Attorney_Initial_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Double_Checker_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Checklist_Instance__c.Attorney_Initial_Assignment</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Double_Checker_Approves_Email_Alert</name>
        <label>Double Checker Approves Email Alert</label>
        <locationX>578</locationX>
        <locationY>1331</locationY>
        <actionName>Checklist_Instance__c.Double_Checker_Approves</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Checklist_Instance__c.Double_Checker_Approves</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Double_Checker_Assignment_Action</name>
        <label>Double Checker Assignment Action</label>
        <locationX>358</locationX>
        <locationY>1031</locationY>
        <actionName>Checklist_Instance__c.Double_Checker_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Checklist_Status_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Checklist_Instance__c.Double_Checker_Assignment</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Double_Checker_Requires_Modification_Email_Alert</name>
        <label>Double Checker Requires Modification Email Alert</label>
        <locationX>842</locationX>
        <locationY>1331</locationY>
        <actionName>Checklist_Instance__c.Double_Checker_Requires_Modification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Checklist_Instance__c.Double_Checker_Requires_Modification</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Filing_Document_with_PTO_Email_Alert</name>
        <label>Filing Document with PTO Email Alert</label>
        <locationX>314</locationX>
        <locationY>1331</locationY>
        <actionName>Checklist_Instance__c.Attorney_Checklist_Submission</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Checklist_Instance__c.Attorney_Checklist_Submission</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Secretary_Initial_Assignment_Email_Alert</name>
        <label>Secretary Initial Assignment Email Alert</label>
        <locationX>358</locationX>
        <locationY>431</locationY>
        <actionName>Checklist_Instance__c.Secretary_Initial_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Attorney_Assignment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Checklist_Instance__c.Secretary_Initial_Assignment</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_All_Double_Checkers</name>
        <label>Send Email To All Double Checkers</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <actionName>CL_DoubleCheckerEmailNotification</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Double_Checker_Assignment_Template.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>legalAssistant</name>
            <value>
                <elementReference>$Record.Checklist__r.Legal_Assistant__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paralegal</name>
            <value>
                <elementReference>$Record.Checklist__r.Paralegal__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CL_DoubleCheckerEmailNotification</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Attorney_Assignment</name>
        <label>Attorney Assignment</label>
        <locationX>578</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Double_Checker_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attorney_Initial_Assignment</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Attorney__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attorney_Initial_Assignment_Email_Alert</targetReference>
            </connector>
            <label>Attorney Initial Assignment</label>
        </rules>
        <rules>
            <name>Attorney_Reassignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Attorney__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Attorney__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Double_Checker_Assignment</targetReference>
            </connector>
            <label>Attorney Reassignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checklist_Status_Decision</name>
        <label>Checklist Status Decision</label>
        <locationX>578</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Double_Checking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Double Checking</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Double_Checker_Assignment_Template</targetReference>
            </connector>
            <label>Double Checking</label>
        </rules>
        <rules>
            <name>Filing_Documents_with_PTO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Filing Documents with PTO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filing_Document_with_PTO_Email_Alert</targetReference>
            </connector>
            <label>Filing Documents with PTO</label>
        </rules>
        <rules>
            <name>Double_Checker_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Double Checker Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Double_Checker_Approves_Email_Alert</targetReference>
            </connector>
            <label>Double Checker Approved</label>
        </rules>
        <rules>
            <name>Modification_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Modification In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Double_Checker_Requires_Modification_Email_Alert</targetReference>
            </connector>
            <label>Modification In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Double_Checker_Assignment</name>
        <label>Double Checker Assignment</label>
        <locationX>578</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Checklist_Status_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Double_Checker_Initial_Assignment</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Double_Checker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Double_Checker__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Double_Checker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Double_Checker_Assignment_Action</targetReference>
            </connector>
            <label>Double Checker Initial Assignment</label>
        </rules>
        <rules>
            <name>Double_Checker_Reassignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Double_Checker__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Double_Checker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checklist_Status_Decision</targetReference>
            </connector>
            <label>Double Checker Reassignment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Secretary_Assignment</name>
        <label>Secretary Assignment</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Attorney_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Secretary_Initial_Assignment</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secretary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secretary__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Secretary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Secretary_Initial_Assignment_Email_Alert</targetReference>
            </connector>
            <label>Secretary Initial Assignment</label>
        </rules>
        <rules>
            <name>Secretary_Reassignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Secretary__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secretary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attorney_Assignment</targetReference>
            </connector>
            <label>Secretary Reassignment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Checklist Instance - Email Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Checklist Instance - Email Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Double_Checker_Assignment_Template</name>
        <label>Get Double Checker Assignment Template</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_To_All_Double_Checkers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Double_Checker_Assignment_Template</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Secretary_Assignment</targetReference>
        </connector>
        <object>Checklist_Instance__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
