force-app/main/default/flows/cmpAPDocuSign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getObjectName</name>
        <label>getObjectName</label>
        <locationX>499</locationX>
        <locationY>279</locationY>
        <actionName>cmpDocuSignCreateEnvelopeCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_Object</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cmpDocuSignCreateEnvelopeCtrl</nameSegment>
        <outputParameters>
            <assignToReference>ObjectName</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_Assignment</name>
        <label>Set Assignment</label>
        <locationX>501</locationX>
        <locationY>849</locationY>
        <assignmentItems>
            <assignToReference>Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPatent.SymphonyLF__Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPatent.SymphonyLF__Filing_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPatent.SymphonyLF__Application_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPatent.SymphonyLF__Docket_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocuSignScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Assignment_Design</name>
        <label>Set Assignment Design</label>
        <locationX>684</locationX>
        <locationY>837</locationY>
        <assignmentItems>
            <assignToReference>Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rDesign.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rDesign.SymphonyLF__Filing_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FilingDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rDesign.SymphonyLF__Filing_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rDesign.SymphonyLF__Docket_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocuSignScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_Object</name>
        <label>Validate Object</label>
        <locationX>488</locationX>
        <locationY>495</locationY>
        <defaultConnector>
            <targetReference>DocuSignScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_SymphonyLF_Patent_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Patent__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rPatent</targetReference>
            </connector>
            <label>Outcome 1 SymphonyLF__Patent__c</label>
        </rules>
        <rules>
            <name>SymphonyLF_Design_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Design__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rDesign</targetReference>
            </connector>
            <label>SymphonyLF__Design__c</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>cmpAPDocuSign {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>cmpAPDocuSign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>rDesign</name>
        <label>rDesign</label>
        <locationX>683</locationX>
        <locationY>665</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Assignment_Design</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Design__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rPatent</name>
        <label>rPatent</label>
        <locationX>500</locationX>
        <locationY>677</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Patent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>DocuSignScreen</name>
        <label>DocuSignScreen</label>
        <locationX>224</locationX>
        <locationY>886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>cmpAPDocuSign</name>
            <extensionName>c:cmpAPDocuSign</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Application</name>
                <value>
                    <elementReference>ApplicationNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FilingDate</name>
                <value>
                    <elementReference>FilingDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Title</name>
                <value>
                    <elementReference>Title</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>DocketNumber</name>
                <value>
                    <elementReference>DocketNumber</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>343</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getObjectName</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApplicationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocketNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Title</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
