force-app/main/default/flows/cmpAPDocuSignInnovator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>cmpAPIDFTabRefresh</name>
        <label>cmpAPIDFTabRefresh</label>
        <locationX>456</locationX>
        <locationY>650</locationY>
        <actionName>c:cmpAPIDFTabRefresh</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>IsMsgShow</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>c:cmpAPIDFTabRefresh</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>cmpAPDocuSignInnovator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmpAPDocuSignInnovator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>rPerson</name>
        <label>rPerson</label>
        <locationX>386</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenInnovator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>recordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocuSignReviewer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Person</name>
        <label>Update Person</label>
        <locationX>400</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>cmpAPIDFTabRefresh</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rPerson.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inventor_Name__c</field>
            <value>
                <elementReference>Person</elementReference>
            </value>
        </inputAssignments>
        <object>DocuSignReviewer__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ScreenInnovator</name>
        <label>ScreenInnovator</label>
        <locationX>385</locationX>
        <locationY>345</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Person</targetReference>
        </connector>
        <fields>
            <name>Person</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>rPerson.Inventor_Name__c</elementReference>
            </defaultValue>
            <fieldText>Person</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>308</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>rPerson</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PatentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
