force-app/main/default/flows/cmpAP_Generate_DocketNumber.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_add_TradeMark_Docket_Number_Suffix</name>
        <label>Set add TradeMark Docket Number Suffix</label>
        <locationX>169</locationX>
        <locationY>1470</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tRootPatentDocketNumber.SymphonyLF__Docket_Number_Suffix__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Trademark_Docket_Number_Suffix_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Agreement_Docket_Number_Suffix_1</name>
        <label>Set Agreement  Docket Number Suffix +1</label>
        <locationX>1375</locationX>
        <locationY>1756</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAgreementSuffix.Family_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_AGRPatentDocketNumber_Docket_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_AGRPatentDocketNumber_Docket_Number</name>
        <label>Set AGRPatentDocketNumber Docket Number</label>
        <locationX>1355</locationX>
        <locationY>1953</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AGRPatentDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AGRPatentDocketNumber_Docket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Copyright_Docket_Number</name>
        <label>Set Copyright Docket Number</label>
        <locationX>1222</locationX>
        <locationY>1834</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPYPatentDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Copyright_Docket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Copyright_Docket_Number_Suffix_1</name>
        <label>Set Copyright Docket Number Suffix +1</label>
        <locationX>1228</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rCopyrightSuffix.Family_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Copyright_Docket_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Design_Docket_Number_Suffix_Alfabate</name>
        <label>Set Design Docket Number Suffix Alfabate</label>
        <locationX>2094</locationX>
        <locationY>2211</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dPatentDocketNumberAlphabates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Design_Docket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dispute_Docket_Number_Suffix_1</name>
        <label>Set Dispute Docket Number Suffix +1</label>
        <locationX>2547</locationX>
        <locationY>1532</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rDisDocketSuffix.Family_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_OPPDispute_Docket_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Dispute_Docket_SuffixCounter_1</name>
        <label>Set Dispute Docket SuffixCounter+1</label>
        <locationX>2806</locationX>
        <locationY>1596</locationY>
        <assignmentItems>
            <assignToReference>SuffixCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_rDisDocketSuffix</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Docket_Number_Suffix_1</name>
        <label>Set Docket Number Suffix +1</label>
        <locationX>744</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Patent_Docket_Number_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Docket_Number_Suffix_1_0</name>
        <label>Set Docket Number Suffix +1</label>
        <locationX>2165</locationX>
        <locationY>1776</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Patent_Docket_Number_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Finished</name>
        <label>Set Finished</label>
        <locationX>2848</locationX>
        <locationY>796</locationY>
        <assignmentItems>
            <assignToReference>IsFinished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Finished_0</name>
        <label>Set Finished</label>
        <locationX>3580</locationX>
        <locationY>2037</locationY>
        <assignmentItems>
            <assignToReference>IsFinished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Finished_0_0</name>
        <label>Set Finished</label>
        <locationX>2592</locationX>
        <locationY>2230</locationY>
        <assignmentItems>
            <assignToReference>IsFinished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Finished_0_0_0</name>
        <label>Set Finished</label>
        <locationX>1260</locationX>
        <locationY>2564</locationY>
        <assignmentItems>
            <assignToReference>IsFinished</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Group_1</name>
        <label>Set Group -1</label>
        <locationX>1287</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>DocketGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group-1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_10</name>
        <label>Set Group -10</label>
        <locationX>2059</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>DocketGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group-3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_10_0</name>
        <label>Set Group -10</label>
        <locationX>3043</locationX>
        <locationY>1122</locationY>
        <assignmentItems>
            <assignToReference>DocketGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group-11</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rMattersAP_SuffixCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_2</name>
        <label>Set Group -2</label>
        <locationX>1368</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>DocketGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group-2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_3</name>
        <label>Set Group -3</label>
        <locationX>1445</locationX>
        <locationY>552</locationY>
        <assignmentItems>
            <assignToReference>DocketGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group-3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_4</name>
        <label>Set Group -4</label>
        <locationX>1530</locationX>
        <locationY>612</locationY>
        <assignmentItems>
            <assignToReference>DocketGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group-4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_5</name>
        <label>Set Group -5</label>
        <locationX>1621</locationX>
        <locationY>652</locationY>
        <assignmentItems>
            <assignToReference>DocketGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group-5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_6</name>
        <label>Set Group -6</label>
        <locationX>1723</locationX>
        <locationY>655</locationY>
        <assignmentItems>
            <assignToReference>DocketGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group-6</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_7</name>
        <label>Set Group -7</label>
        <locationX>1823</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>DocketGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group-7</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_8</name>
        <label>Set Group -8</label>
        <locationX>1925</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>DocketGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group-4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Group_9</name>
        <label>Set Group -9</label>
        <locationX>2031</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>DocketGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Group-9</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Juridiction_Code</name>
        <label>Set Juridiction Code</label>
        <locationX>708</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>JurisdictionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PV</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCaseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Provisional</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RootPatentDocketNumberCaseType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Juridiction_Code_0</name>
        <label>Set Juridiction Code</label>
        <locationX>877</locationX>
        <locationY>1096</locationY>
        <assignmentItems>
            <assignToReference>JurisdictionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPatent.SymphonyLF__Country__r.SymphonyLF__Country_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RootPatentDocketNumbers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Matters_Docket_Number_Suffix_1</name>
        <label>Set Matters Docket Number Suffix +1</label>
        <locationX>3040</locationX>
        <locationY>1436</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rMattersSuffix.Family_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_the_Matter_CaseType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Matters_Docket_Number_Suffix_1_0</name>
        <label>Set Matters Docket Number Suffix +1</label>
        <locationX>3596</locationX>
        <locationY>1578</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Matters_Docket_Number_Suffix_1_0_0</name>
        <label>Set Matters Docket Number Suffix +1</label>
        <locationX>3425</locationX>
        <locationY>1558</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1001.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OPNMattersDocket_Number</name>
        <label>Set OPNMattersDocket Number</label>
        <locationX>3272</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OPNPatentDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Matters_Docket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OPPDispute_Docket_Number</name>
        <label>Set OPPDispute Docket Number</label>
        <locationX>2552</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OPPPatentDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OPPDispute_Docket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patent_Docket_Number</name>
        <label>Set Patent Docket Number</label>
        <locationX>935</locationX>
        <locationY>1881</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPatentDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Docket_Number_Suffix_if_More_than_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patent_Docket_Number_0</name>
        <label>Set Patent Docket Number</label>
        <locationX>773</locationX>
        <locationY>1972</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPatentDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Docket_Number_Suffix_if_More_than_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patent_Docket_Number_0_0</name>
        <label>Set Patent Docket Number</label>
        <locationX>424</locationX>
        <locationY>1615</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tPatentDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Docket_Number_Suffix_if_More_than_10_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patent_Docket_Number_0_0_0</name>
        <label>Set Patent Docket Number</label>
        <locationX>2361</locationX>
        <locationY>1825</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dPatentDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Design_Docket_Number_Suffix_if_More_than_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patent_Docket_Number_0_0_0_0</name>
        <label>Set Patent Docket Number</label>
        <locationX>2167</locationX>
        <locationY>1929</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dPatentDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Design_Docket_Number_Suffix_if_More_than_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patent_Docket_Number_Suffix</name>
        <label>Set Patent Docket Number Suffix</label>
        <locationX>750</locationX>
        <locationY>1666</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rRootPatentDocketNumber.SymphonyLF__Docket_Number_Suffix__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Docket_Number_Suffix_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patent_Docket_Number_Suffix_0</name>
        <label>Set Patent Docket Number Suffix</label>
        <locationX>945</locationX>
        <locationY>1716</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Patent_Docket_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patent_Docket_Number_Suffix_0_0</name>
        <label>Set Patent Docket Number Suffix</label>
        <locationX>2153</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dRootPatentDocketNumber.SymphonyLF__Docket_Number_Suffix__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Docket_Number_Suffix_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patent_Docket_Number_Suffix_0_0_0</name>
        <label>Set Patent Docket Number Suffix</label>
        <locationX>2346</locationX>
        <locationY>1662</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Patent_Docket_Number_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patent_Docket_Number_Suffix_Alfabate</name>
        <label>Set Patent Docket Number Suffix Alfabate</label>
        <locationX>789</locationX>
        <locationY>2102</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fPatentDocketNumberAlphabates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patent_Docket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Patent_Docket_Number_Suffix_Alfabate_0</name>
        <label>Set Patent Docket Number Suffix Alfabate</label>
        <locationX>174</locationX>
        <locationY>2053</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tPatentDocketNumberAlphabates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Trademark_Docket</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PatentFamily_Docket_Number</name>
        <label>Set PatentFamily Docket Number</label>
        <locationX>1886</locationX>
        <locationY>1826</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatentFamilyDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patent_Family</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rAgreementSuffixFamilyCounter</name>
        <label>Set rAgreementSuffixFamilyCounter</label>
        <locationX>1664</locationX>
        <locationY>1724</locationY>
        <assignmentItems>
            <assignToReference>rAgreementSuffixFamilyCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rAgreementSuffix.SuffixCounter__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_rAgreementSuffixFamilyCounter_Add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rAgreementSuffixFamilyCounter_0</name>
        <label>Set rAgreementSuffixFamilyCounter</label>
        <locationX>1752</locationX>
        <locationY>1825</locationY>
        <assignmentItems>
            <assignToReference>rAgreementSuffixFamilyCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1001.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_rAgreementSuffixFamilyCounter_Add</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rAgreementSuffixFamilyCounter_Add</name>
        <label>Set rAgreementSuffixFamilyCounter Add</label>
        <locationX>1487</locationX>
        <locationY>1771</locationY>
        <assignmentItems>
            <assignToReference>rAgreementSuffixFamilyCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Agreement_Docket_Number_Suffix_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rDesign_Family_ID</name>
        <label>Set rDesign Family ID</label>
        <locationX>2399</locationX>
        <locationY>1303</locationY>
        <assignmentItems>
            <assignToReference>FamilyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DesignsFamilyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dRootPatentDocketNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rDesignFamilySuffix_Docket_Number</name>
        <label>Set rDesignFamilySuffix Docket Number</label>
        <locationX>3769</locationX>
        <locationY>1473</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DesignFamilyDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_DesignFamily</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rDesignFamilySuffix_Suffix</name>
        <label>Set rDesignFamilySuffix Suffix</label>
        <locationX>3767</locationX>
        <locationY>1289</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rrDesignFamilySuffix.Family_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_rDesignFamilySuffix_Docket_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Re_Examination_Juridiction_Code</name>
        <label>Set Re-Examination Juridiction Code</label>
        <locationX>533</locationX>
        <locationY>1073</locationY>
        <assignmentItems>
            <assignToReference>JurisdictionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RX</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCaseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Re-Registration</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RootPatentDocketNumberCaseType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Re_Issue_Juridiction_Code</name>
        <label>Set Re-Issue Juridiction Code</label>
        <locationX>405</locationX>
        <locationY>1065</locationY>
        <assignmentItems>
            <assignToReference>JurisdictionCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCaseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Re-Issue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RootPatentDocketNumberCaseType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rMark_Docket_Number</name>
        <label>Set rMark Docket Number</label>
        <locationX>2548</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarkDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Mark</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rMark_Suffix</name>
        <label>Set rMark Suffix</label>
        <locationX>2378</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rMarkSuffix.Family_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_rMark_Docket_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rPatentFamilyId</name>
        <label>Set rPatentFamilyId</label>
        <locationX>745</locationX>
        <locationY>1383</locationY>
        <assignmentItems>
            <assignToReference>FamilyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPatentFamilyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_rRootDocketNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rPatentFamilySuffix_Suffix</name>
        <label>Set rPatentFamilySuffix Suffix</label>
        <locationX>1893</locationX>
        <locationY>1626</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rPatentFamilySuffix.Family_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_PatentFamily_Docket_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_rTrademarkFamilyId</name>
        <label>Set rTrademarkFamilyId</label>
        <locationX>229</locationX>
        <locationY>1040</locationY>
        <assignmentItems>
            <assignToReference>FamilyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TrademarkFamilyId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>tRootPatentDocketNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Trademark_Docket_Number</name>
        <label>Set Trademark Docket Number</label>
        <locationX>178</locationX>
        <locationY>1776</locationY>
        <assignmentItems>
            <assignToReference>PatentDocketNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tPatentDocketNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Docket_Number_Suffix_if_More_than_10_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Trademark_Docket_Number_Suffix</name>
        <label>Set Trademark Docket Number Suffix</label>
        <locationX>451</locationX>
        <locationY>1408</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Patent_Docket_Number_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Trademark_Docket_Number_Suffix_1</name>
        <label>Set Trademark Docket Number Suffix +1</label>
        <locationX>167</locationX>
        <locationY>1612</locationY>
        <assignmentItems>
            <assignToReference>DocketNumberSuffix</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Trademark_Docket_Number</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_AGR_DocektNumber</name>
        <label>Validate AGR DocektNumber</label>
        <locationX>1763</locationX>
        <locationY>1632</locationY>
        <defaultConnector>
            <targetReference>Set_rAgreementSuffixFamilyCounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DocektNumber_1001</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rAgreementSuffix.SuffixCounter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1001.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_rAgreementSuffixFamilyCounter_0</targetReference>
            </connector>
            <label>DocektNumber_1001</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Agreement_Suffix</name>
        <label>Validate Agreement  Suffix</label>
        <locationX>1470</locationX>
        <locationY>1623</locationY>
        <defaultConnector>
            <targetReference>Validate_AGR_DocektNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Agreement_SuffixNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rAgreementSuffix</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_rAgreementSuffix</targetReference>
            </connector>
            <label>If Agreement  SuffixNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Design_Docket_Number_Suffix_if_More_than_10</name>
        <label>Validate Design Docket Number Suffix if More than 10</label>
        <locationX>2246</locationX>
        <locationY>2070</locationY>
        <defaultConnector>
            <targetReference>Update_Design_Docket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Design_Docket_Number_Suffix_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocketNumberSuffix</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Design_Docket_Number_Suffix_Alfabate</targetReference>
            </connector>
            <label>if Design Docket Number Suffix =&gt;10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Design_rRootDocketNumber</name>
        <label>Validate Design rRootDocketNumber</label>
        <locationX>2217</locationX>
        <locationY>1500</locationY>
        <defaultConnector>
            <targetReference>Set_Patent_Docket_Number_Suffix_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dRootDocketNumber_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dRootPatentDocketNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Patent_Docket_Number_Suffix_0_0_0</targetReference>
            </connector>
            <label>dRootDocketNumber Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Docket_Number_Suffix_if_More_than_10</name>
        <label>Validate Docket Number Suffix if More than 10</label>
        <locationX>922</locationX>
        <locationY>2075</locationY>
        <defaultConnector>
            <targetReference>Update_Patent_Docket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Docket_Number_Suffix_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocketNumberSuffix</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Patent_Docket_Number_Suffix_Alfabate</targetReference>
            </connector>
            <label>if Docket Number Suffix =&gt;10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Docket_Number_Suffix_if_More_than_10_0</name>
        <label>Validate Docket Number Suffix if More than 10</label>
        <locationX>334</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>Update_Trademark_Docket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Docket_Number_Suffix_10_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocketNumberSuffix</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Patent_Docket_Number_Suffix_Alfabate_0</targetReference>
            </connector>
            <label>if Docket Number Suffix =&gt;10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_DocketSuffix</name>
        <label>Validate DocketSuffix</label>
        <locationX>1611</locationX>
        <locationY>452</locationY>
        <defaultConnector>
            <targetReference>Validate_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__General_Matter__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_1</targetReference>
            </connector>
            <label>Group -1</label>
        </rules>
        <rules>
            <name>Group_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Mark__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_2</targetReference>
            </connector>
            <label>Group -2</label>
        </rules>
        <rules>
            <name>Group_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Patent_Family__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_3</targetReference>
            </connector>
            <label>Group -3</label>
        </rules>
        <rules>
            <name>Group_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Design__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_4</targetReference>
            </connector>
            <label>Group -4</label>
        </rules>
        <rules>
            <name>Group_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Agreement_Contract__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_5</targetReference>
            </connector>
            <label>Group -5</label>
        </rules>
        <rules>
            <name>Group_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Dispute_Opposition__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_6</targetReference>
            </connector>
            <label>Group -6</label>
        </rules>
        <rules>
            <name>Group_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Copyright__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_7</targetReference>
            </connector>
            <label>Group -7</label>
        </rules>
        <rules>
            <name>Group_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Patent__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_8</targetReference>
            </connector>
            <label>Group -8</label>
        </rules>
        <rules>
            <name>Group_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Trademark__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_9</targetReference>
            </connector>
            <label>Group -9</label>
        </rules>
        <rules>
            <name>Group_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Design_Family__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_10</targetReference>
            </connector>
            <label>Group -10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Jurisdication_CaseType</name>
        <label>Validate Jurisdication &amp; CaseType</label>
        <locationX>683</locationX>
        <locationY>979</locationY>
        <defaultConnector>
            <targetReference>Set_Juridiction_Code_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Jurisdiction_US_and_Case_Type_Provisional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rPatent.SymphonyLF__Country__r.SymphonyLF__Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rPatent.SymphonyLF__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Juridiction_Code</targetReference>
            </connector>
            <label>Jurisdiction = US and Case Type = Provisional</label>
        </rules>
        <rules>
            <name>Jurisdication_US_and_Re_Examination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rPatent.SymphonyLF__Country__r.SymphonyLF__Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rPatent.SymphonyLF__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Examination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Re_Examination_Juridiction_Code</targetReference>
            </connector>
            <label>Jurisdication- US and Re-Examination</label>
        </rules>
        <rules>
            <name>Jurisdiction_US_and_Case_Type_Re_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rPatent.SymphonyLF__Country__r.SymphonyLF__Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rPatent.SymphonyLF__Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Re_Issue_Juridiction_Code</targetReference>
            </connector>
            <label>Jurisdiction = US and Case Type = Re-Issue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Matters_Suffix</name>
        <label>Validate Matters Suffix</label>
        <locationX>3220</locationX>
        <locationY>1323</locationY>
        <defaultConnector>
            <targetReference>Set_Matters_Docket_Number_Suffix_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Matters_SuffixNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rMattersSuffix</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_rMattersSuffix</targetReference>
            </connector>
            <label>If Matters SuffixNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Object</name>
        <label>Validate Object</label>
        <locationX>1521</locationX>
        <locationY>1095</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iPatent_Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Patent_Family__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rPatentFamily</targetReference>
            </connector>
            <label>iPatent_Family</label>
        </rules>
        <rules>
            <name>IfSymphonyLF_Mark_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Mark__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rMark</targetReference>
            </connector>
            <label>IfSymphonyLF__Mark__c</label>
        </rules>
        <rules>
            <name>IfSymphonyLF_Design_Family_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Design_Family__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rDesignFamily</targetReference>
            </connector>
            <label>Design_Family</label>
        </rules>
        <rules>
            <name>IfSymphonyLF_Patent_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Patent__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rPatent</targetReference>
            </connector>
            <label>IfSymphonyLF__Patent__c</label>
        </rules>
        <rules>
            <name>IfSymphonyLF_Trademark_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Trademark__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rTrademark</targetReference>
            </connector>
            <label>IfSymphonyLF__Trademark__c</label>
        </rules>
        <rules>
            <name>ifSymphonyLF_Design_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Design__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rDesign</targetReference>
            </connector>
            <label>ifSymphonyLF__Design__c</label>
        </rules>
        <rules>
            <name>ifSymphonyLF_Copyright_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Copyright__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rCopyright</targetReference>
            </connector>
            <label>ifSymphonyLF__Copyright__c</label>
        </rules>
        <rules>
            <name>ifSymphonyLF_Agreement_Contract_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Agreement_Contract__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rAgreement</targetReference>
            </connector>
            <label>ifSymphonyLF__Agreement_Contract__c</label>
        </rules>
        <rules>
            <name>ifSymphonyLF_Dispute_Opposition_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Dispute_Opposition__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rDispute</targetReference>
            </connector>
            <label>ifSymphonyLF__Dispute_Opposition__c</label>
        </rules>
        <rules>
            <name>ifSymphonyLF_General_Matter_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__General_Matter__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rMatters</targetReference>
            </connector>
            <label>ifSymphonyLF__General_Matter__c</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_rCopyrightSuffix</name>
        <label>Validate rCopyrightSuffix</label>
        <locationX>1215</locationX>
        <locationY>1500</locationY>
        <defaultConnector>
            <targetReference>Set_Copyright_Docket_Number_Suffix_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rCopyrightSuffixNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCopyrightSuffix</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_rCopyrightSuffix</targetReference>
            </connector>
            <label>rCopyrightSuffixNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_rDesignFamilySuffix</name>
        <label>Validate rDesignFamilySuffix</label>
        <locationX>3756</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Set_rDesignFamilySuffix_Suffix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_rDesignFamilySuffix_SuffixNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rrDesignFamilySuffix</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_rrDesignFamilySuffix</targetReference>
            </connector>
            <label>If rDesignFamilySuffix SuffixNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_rDesignsSuffix</name>
        <label>Validate rDesignsSuffix</label>
        <locationX>2259</locationX>
        <locationY>1215</locationY>
        <defaultConnector>
            <targetReference>Set_rDesign_Family_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_rDesignsSuffix_SuffixNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rDesignsSuffix</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_rDesignsSuffix</targetReference>
            </connector>
            <label>If rDesignsSuffix SuffixNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_rDisDocketSuffix</name>
        <label>Validate rDisDocketSuffix</label>
        <locationX>2602</locationX>
        <locationY>1315</locationY>
        <defaultConnector>
            <targetReference>Set_Dispute_Docket_Number_Suffix_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rDisDocketSuffixNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rDisDocketSuffix</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_rDisDocketSuffix</targetReference>
            </connector>
            <label>rDisDocketSuffixNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_rMarkSuffex</name>
        <label>Validate rMarkSuffex</label>
        <locationX>2223</locationX>
        <locationY>760</locationY>
        <defaultConnector>
            <targetReference>Set_rMark_Suffix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_rMarkSuffex_SuffixNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rMarkSuffix</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_rMarkSuffix</targetReference>
            </connector>
            <label>If rMarkSuffex SuffixNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_rPatentFamilySuffix</name>
        <label>Validate rPatentFamilySuffix</label>
        <locationX>1875</locationX>
        <locationY>1424</locationY>
        <defaultConnector>
            <targetReference>Set_rPatentFamilySuffix_Suffix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_rPatentFamilySuffix_SuffixNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rPatentFamilySuffix</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_rPatentFamilySuffix</targetReference>
            </connector>
            <label>If rPatentFamilySuffix SuffixNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_rPatentSuffix</name>
        <label>Validate rPatentSuffix</label>
        <locationX>949</locationX>
        <locationY>802</locationY>
        <defaultConnector>
            <targetReference>RootPatentDocketNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_rPatentSuffix_SuffixNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rPatentSuffix</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_rPatentFamilySuffix_0</targetReference>
            </connector>
            <label>If rPatentSuffix SuffixNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_rRootDocketNumber</name>
        <label>Validate rRootDocketNumber</label>
        <locationX>814</locationX>
        <locationY>1508</locationY>
        <defaultConnector>
            <targetReference>Set_Patent_Docket_Number_Suffix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rRootDocketNumber_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rRootPatentDocketNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Patent_Docket_Number_Suffix_0</targetReference>
            </connector>
            <label>rRootDocketNumber Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_rRootDocketNumber_0</name>
        <label>Validate rRootDocketNumber</label>
        <locationX>284</locationX>
        <locationY>1350</locationY>
        <defaultConnector>
            <targetReference>Set_add_TradeMark_Docket_Number_Suffix</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rRootDocketNumber_Null_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tRootPatentDocketNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Trademark_Docket_Number_Suffix</targetReference>
            </connector>
            <label>rRootDocketNumber Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_rTrademarkSuffix</name>
        <label>Validate rTrademarkSuffix</label>
        <locationX>169</locationX>
        <locationY>798</locationY>
        <defaultConnector>
            <targetReference>Set_rTrademarkFamilyId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_rTrademarkSuffix_SuffixNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rTrademarkSuffix</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_rTrademarkSuffixSuffix</targetReference>
            </connector>
            <label>If rTrademarkSuffix SuffixNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_the_Matter_CaseType</name>
        <label>Validate the Matter CaseType</label>
        <locationX>3545</locationX>
        <locationY>1363</locationY>
        <defaultConnector>
            <targetReference>Set_OPNMattersDocket_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matter</name>
            <conditionLogic>(1 OR 2 OR 3) AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>rMatters.SymphonyLF__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Dispute Advice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rMatters.SymphonyLF__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opinions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rMatters.SymphonyLF__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FTO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rMattersSuffix.Family_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rMattersSuffix.Family_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1001.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Matters_Docket_Number_Suffix_1_0</targetReference>
            </connector>
            <label>OPN</label>
        </rules>
        <rules>
            <name>SymphonyLF_Type_Pre_Filing_Advice</name>
            <conditionLogic>3 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>rMattersSuffix.Family_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rMattersSuffix.Family_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1001.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rMatters.SymphonyLF__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Filing Advice</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Matters_Docket_Number_Suffix_1_0_0</targetReference>
            </connector>
            <label>GEN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_the_Matter_CaseType_0</name>
        <label>Validate the Matter CaseType</label>
        <locationX>2923</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>rMattersAP_SuffixCounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GEN</defaultConnectorLabel>
        <rules>
            <name>Matter_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>rMatters.SymphonyLF__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Dispute Advice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rMatters.SymphonyLF__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opinions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>rMatters.SymphonyLF__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FTO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Group_10_0</targetReference>
            </connector>
            <label>OPN</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AGRPatentDocketFamilyId</name>
        <dataType>String</dataType>
        <expression>{!rAgreement.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} + MID(TEXT({!rAgreementSuffixFamilyCounter} ),2,4)</expression>
    </formulas>
    <formulas>
        <name>AGRPatentDocketNumber</name>
        <dataType>String</dataType>
        <expression>{!rAgreement.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} +&apos;-&apos;+ 
MID(TEXT({!rAgreementSuffixFamilyCounter} ),2,4) + &apos;AGR&apos;</expression>
    </formulas>
    <formulas>
        <name>CPYPatentDocketFamilyId</name>
        <dataType>String</dataType>
        <expression>{!rCopyright.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} +{!rCopyrightSuffix.Family_Counter__c}</expression>
    </formulas>
    <formulas>
        <name>CPYPatentDocketNumber</name>
        <dataType>String</dataType>
        <expression>{!rCopyright.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} +&apos;-&apos;+ {!rCopyrightSuffix.Family_Counter__c} + &apos;CPY&apos;</expression>
    </formulas>
    <formulas>
        <name>DesignFamilyDocketNumber</name>
        <dataType>String</dataType>
        <expression>{!rDesignFamily.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} + &apos;-&apos;+ MID(TEXT( {!DocketNumberSuffix}),2,4)</expression>
    </formulas>
    <formulas>
        <name>DesignsFamilyId</name>
        <dataType>String</dataType>
        <expression>{!rDesign.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} + MID(TEXT({!SuffixCounter} ),2,4)</expression>
    </formulas>
    <formulas>
        <name>DFamiliesFamilyID</name>
        <dataType>String</dataType>
        <expression>{!rDesignFamily.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} +  MID(TEXT( {!DocketNumberSuffix}),2,4)</expression>
    </formulas>
    <formulas>
        <name>DisputeFamilyId</name>
        <dataType>String</dataType>
        <expression>{!rDispute.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} + MID(TEXT({!SuffixCounter} ),2,4)</expression>
    </formulas>
    <formulas>
        <name>DocketNumberSuffixAlphabates</name>
        <dataType>String</dataType>
        <expression>CASE({!DocketNumberSuffix},
10,  &quot;A&quot;,
11,  &quot;B&quot;,
12,  &quot;C&quot;,
13,  &quot;D&quot;,
14,  &quot;E&quot;,
15,  &quot;F&quot;,
16,  &quot;G&quot;,
17,  &quot;H&quot;,
18,  &quot;I&quot;,
19,  &quot;J&quot;,
20,  &quot;K&quot;,
21,  &quot;L&quot;,
22,  &quot;M&quot;,
23,  &quot;N&quot;,
24,  &quot;O&quot;,
25,  &quot;P&quot;,
26,  &quot;Q&quot;,
27,  &quot;R&quot;,
28,  &quot;S&quot;,
29,  &quot;T&quot;,
30,  &quot;U&quot;,
31,  &quot;V&quot;,
32,  &quot;W&quot;,
33,  &quot;X&quot;,
34,  &quot;Y&quot;,
35,  &quot;Z&quot;,
36,  &quot;AA&quot;,
37,  &quot;AB&quot;,
38,  &quot;AC&quot;,
39,  &quot;AD&quot;,
40,  &quot;AE&quot;,
41,  &quot;AF&quot;,
42,  &quot;AG&quot;,
43,  &quot;AH&quot;,
44,  &quot;AI&quot;,
45,  &quot;AJ&quot;,
46,  &quot;AK&quot;,
47,  &quot;AL&quot;,
48,  &quot;AM&quot;,
49,  &quot;AN&quot;,
50,  &quot;AO&quot;,
51,  &quot;AP&quot;,
52,  &quot;AQ&quot;,
53,  &quot;AR&quot;,
54,  &quot;AS&quot;,
55,  &quot;AT&quot;,
56,  &quot;AU&quot;,
57,  &quot;AV&quot;,
58,  &quot;AW&quot;,
59,  &quot;AX&quot;,
60,  &quot;AY&quot;,
61,  &quot;AZ&quot;,
62,  &quot;BA&quot;,
63,  &quot;BB&quot;,
64,  &quot;BC&quot;,
65,  &quot;BD&quot;,
66,  &quot;BE&quot;,
67,  &quot;BF&quot;,
68,  &quot;BG&quot;,
69,  &quot;BH&quot;,
70,  &quot;BI&quot;,
71,  &quot;BJ&quot;,
72,  &quot;BK&quot;,
73,  &quot;BL&quot;,
74,  &quot;BM&quot;,
75,  &quot;BN&quot;,
76,  &quot;BO&quot;,
77,  &quot;BP&quot;,
78,  &quot;BQ&quot;,
79,  &quot;BR&quot;,
80,  &quot;BS&quot;,
81,  &quot;BT&quot;,
82,  &quot;BU&quot;,
83,  &quot;BV&quot;,
84,  &quot;BW&quot;,
85,  &quot;BX&quot;,
86,  &quot;BY&quot;,
87,  &quot;BZ&quot;,
88,  &quot;CA&quot;,
89,  &quot;CB&quot;,
90,  &quot;CC&quot;,
91,  &quot;CD&quot;,
92,  &quot;CE&quot;,
93,  &quot;CF&quot;,
94,  &quot;CG&quot;,
95,  &quot;CH&quot;,
96,  &quot;CI&quot;,
97,  &quot;CJ&quot;,
98,  &quot;CK&quot;,
99,  &quot;CL&quot;,
100,  &quot;CM&quot;,
101,  &quot;CN&quot;,
102,  &quot;CO&quot;,
103,  &quot;CP&quot;,
104,  &quot;CQ&quot;,
105,  &quot;CR&quot;,
106,  &quot;CS&quot;,
107,  &quot;CT&quot;,
108,  &quot;CU&quot;,
109,  &quot;CV&quot;,
110,  &quot;CW&quot;,
111,  &quot;CX&quot;,
112,  &quot;CY&quot;,
113,  &quot;CZ&quot;,
114,  &quot;DA&quot;,
115,  &quot;DB&quot;,
116,  &quot;DC&quot;,
117,  &quot;DD&quot;,
118,  &quot;DE&quot;,
119,  &quot;DF&quot;,
120,  &quot;DG&quot;,
121,  &quot;DH&quot;,
122,  &quot;DI&quot;,
123,  &quot;DJ&quot;,
124,  &quot;DK&quot;,
125,  &quot;DL&quot;,
126,  &quot;DM&quot;,
127,  &quot;DN&quot;,
128,  &quot;DO&quot;,
129,  &quot;DP&quot;,
130,  &quot;DQ&quot;,
131,  &quot;DR&quot;,
132,  &quot;DS&quot;,
133,  &quot;DT&quot;,
134,  &quot;DU&quot;,
135,  &quot;DV&quot;,
136,  &quot;DW&quot;,
137,  &quot;DX&quot;,
138,  &quot;DY&quot;,
139,  &quot;DZ&quot;,
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>dPatentDocketNumber</name>
        <dataType>String</dataType>
        <expression>{!dRootDocketNumber} +      {!rDesign.SymphonyLF__Country_Code__c}    + TEXT({!DocketNumberSuffix})</expression>
    </formulas>
    <formulas>
        <name>dPatentDocketNumberAlphabates</name>
        <dataType>String</dataType>
        <expression>{!dRootDocketNumber} + {!rDesign.SymphonyLF__Country_Code__c}    + {!DocketNumberSuffixAlphabates}</expression>
    </formulas>
    <formulas>
        <name>dRootDocketNumber</name>
        <dataType>String</dataType>
        <expression>{!rDesign.SymphonyLF__Design_Family__r.SymphonyLF__Docket_Number__c}</expression>
    </formulas>
    <formulas>
        <name>fCopyrightSuffix</name>
        <dataType>Number</dataType>
        <expression>0</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fPatentDocketNumber</name>
        <dataType>String</dataType>
        <expression>{!RootDocketNumber} +  {!JurisdictionCode}  + TEXT({!DocketNumberSuffix})</expression>
    </formulas>
    <formulas>
        <name>fPatentDocketNumberAlphabates</name>
        <dataType>String</dataType>
        <expression>{!RootDocketNumber} + {!JurisdictionCode} + {!DocketNumberSuffixAlphabates}</expression>
    </formulas>
    <formulas>
        <name>GeneralMatterFamilyId</name>
        <dataType>String</dataType>
        <expression>{!rMatters.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} + MID(TEXT( {!DocketNumberSuffix}),2,4)</expression>
    </formulas>
    <formulas>
        <name>MarkDocketNumber</name>
        <dataType>String</dataType>
        <expression>{!rMark.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} + &apos;-&apos;+ MID(TEXT({!DocketNumberSuffix}),2,4)</expression>
    </formulas>
    <formulas>
        <name>OPNPatentDocketNumber</name>
        <dataType>String</dataType>
        <expression>{!rMatters.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} +&apos;-&apos;+ MID(TEXT( {!DocketNumberSuffix}),2,4)  + {!rMatters.Dispute_Type_Suffix__c}</expression>
    </formulas>
    <formulas>
        <name>OPPPatentDocketNumber</name>
        <dataType>String</dataType>
        <expression>{!rDispute.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} +&apos;-&apos;+  MID(TEXT({!SuffixCounter} ),2,4)    + {!rDispute.Dispute_Type_Suffix__c}</expression>
    </formulas>
    <formulas>
        <name>PatentFamilyDocketFamilyId</name>
        <dataType>String</dataType>
        <expression>{!rPatentFamily.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} +  MID(TEXT({!DocketNumberSuffix}),2,4)</expression>
    </formulas>
    <formulas>
        <name>PatentFamilyDocketId</name>
        <dataType>String</dataType>
        <expression>{!rPatentFamily.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} + MID(TEXT({!DocketNumberSuffix}),2,4)</expression>
    </formulas>
    <formulas>
        <name>PatentFamilyDocketNumber</name>
        <dataType>String</dataType>
        <expression>{!rPatentFamily.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} + &apos;-&apos;+ MID(TEXT({!DocketNumberSuffix}),2,4)</expression>
    </formulas>
    <formulas>
        <name>rMarkDocketFamilyId</name>
        <dataType>String</dataType>
        <expression>{!rMark.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} + MID(TEXT({!DocketNumberSuffix}),2,4)</expression>
    </formulas>
    <formulas>
        <name>RootDocketNumber</name>
        <dataType>String</dataType>
        <expression>{!rPatent.SymphonyLF__Patent_Family__r.SymphonyLF__Docket_Number__c}</expression>
    </formulas>
    <formulas>
        <name>rPatentFamilyId</name>
        <dataType>String</dataType>
        <expression>{!rPatent.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} + MID(TEXT({!SuffixCounter} ),2,4)</expression>
    </formulas>
    <formulas>
        <name>tPatentDocketNumber</name>
        <dataType>String</dataType>
        <expression>{!TrademarkRootDocket} + {!rTrademark.SymphonyLF__Jurisdiction__r.SymphonyLF__Country_Code__c} + TEXT({!DocketNumberSuffix})</expression>
    </formulas>
    <formulas>
        <name>tPatentDocketNumberAlphabates</name>
        <dataType>String</dataType>
        <expression>{!TrademarkRootDocket} + {!rTrademark.SymphonyLF__Jurisdiction__r.SymphonyLF__Country_Code__c} + {!DocketNumberSuffixAlphabates}</expression>
    </formulas>
    <formulas>
        <name>TrademarkFamilyId</name>
        <dataType>String</dataType>
        <expression>{!rTrademark.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c} + MID(TEXT({!SuffixCounter} ),2,4)</expression>
    </formulas>
    <formulas>
        <name>TrademarkRootDocket</name>
        <dataType>String</dataType>
        <expression>{!rTrademark.SymphonyLF__Mark__r.SymphonyLF__Docket_Number__c}</expression>
    </formulas>
    <interviewLabel>cmpAP_Generate_DocketNumber {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmpAP_Generate_DocketNumber</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_rAgreementSuffix</name>
        <label>Create rAgreementSuffix</label>
        <locationX>1598</locationX>
        <locationY>1497</locationY>
        <connector>
            <targetReference>rAgreementSuffix</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Id__c</field>
            <value>
                <elementReference>rAgreement.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocketGroup__c</field>
            <value>
                <stringValue>Group-5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_ID_Start_Number__c</field>
            <value>
                <elementReference>rDocketSuffix.Family_ID_Start_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuffixCounter__c</field>
            <value>
                <elementReference>SuffixCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Docket_Number_Suffix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_rCopyrightSuffix</name>
        <label>Create rCopyrightSuffix</label>
        <locationX>1365</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>rCopyrightSuffix</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Id__c</field>
            <value>
                <elementReference>rCopyright.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocketGroup__c</field>
            <value>
                <stringValue>Group-7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_ID_Start_Number__c</field>
            <value>
                <elementReference>rDocketSuffix.Family_ID_Start_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuffixCounter__c</field>
            <value>
                <elementReference>SuffixCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Docket_Number_Suffix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_rDesignsSuffix</name>
        <label>Create rDesignsSuffix</label>
        <locationX>2135</locationX>
        <locationY>1243</locationY>
        <connector>
            <targetReference>rDesignsSuffix</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Id__c</field>
            <value>
                <elementReference>rDesign.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocketGroup__c</field>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_ID_Start_Number__c</field>
            <value>
                <elementReference>rDocketSuffix.Family_ID_Start_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuffixCounter__c</field>
            <value>
                <elementReference>SuffixCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Docket_Number_Suffix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_rDisDocketSuffix</name>
        <label>Create rDisDocketSuffix</label>
        <locationX>2797</locationX>
        <locationY>1386</locationY>
        <connector>
            <targetReference>rDisDocketSuffix</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Id__c</field>
            <value>
                <elementReference>rDispute.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocketGroup__c</field>
            <value>
                <stringValue>Group-6</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_ID_Start_Number__c</field>
            <value>
                <elementReference>rDocketSuffix.Family_ID_Start_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuffixCounter__c</field>
            <value>
                <elementReference>SuffixCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Docket_Number_Suffix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_rMarkSuffix</name>
        <label>Create rMarkSuffix</label>
        <locationX>2047</locationX>
        <locationY>882</locationY>
        <connector>
            <targetReference>rMarkSuffix</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Id__c</field>
            <value>
                <elementReference>rMark.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocketGroup__c</field>
            <value>
                <stringValue>Group-2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_ID_Start_Number__c</field>
            <value>
                <elementReference>rDocketSuffix.Family_ID_Start_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuffixCounter__c</field>
            <value>
                <elementReference>SuffixCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Docket_Number_Suffix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_rMattersSuffix</name>
        <label>Create rMattersSuffix</label>
        <locationX>3333</locationX>
        <locationY>1215</locationY>
        <connector>
            <targetReference>rMattersSuffix</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Id__c</field>
            <value>
                <elementReference>rMatters.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocketGroup__c</field>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_ID_Start_Number__c</field>
            <value>
                <elementReference>rDocketSuffix.Family_ID_Start_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuffixCounter__c</field>
            <value>
                <elementReference>SuffixCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Docket_Number_Suffix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_rPatentFamilySuffix</name>
        <label>Create rPatentFamilySuffix</label>
        <locationX>1751</locationX>
        <locationY>1452</locationY>
        <connector>
            <targetReference>rPatentFamilySuffix</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Id__c</field>
            <value>
                <elementReference>rPatentFamily.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocketGroup__c</field>
            <value>
                <stringValue>Group-3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_ID_Start_Number__c</field>
            <value>
                <elementReference>rDocketSuffix.Family_ID_Start_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuffixCounter__c</field>
            <value>
                <elementReference>SuffixCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Docket_Number_Suffix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_rPatentFamilySuffix_0</name>
        <label>Create rPatentFamilySuffix</label>
        <locationX>768</locationX>
        <locationY>692</locationY>
        <connector>
            <targetReference>rPatentSuffix</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Id__c</field>
            <value>
                <elementReference>rPatent.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocketGroup__c</field>
            <value>
                <stringValue>Group-4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_ID_Start_Number__c</field>
            <value>
                <elementReference>rDocketSuffix.Family_ID_Start_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuffixCounter__c</field>
            <value>
                <elementReference>SuffixCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Docket_Number_Suffix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_rrDesignFamilySuffix</name>
        <label>Create rrDesignFamilySuffix</label>
        <locationX>3576</locationX>
        <locationY>1184</locationY>
        <connector>
            <targetReference>rrDesignFamilySuffix</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Id__c</field>
            <value>
                <elementReference>rDesignFamily.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocketGroup__c</field>
            <value>
                <stringValue>Group-3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_ID_Start_Number__c</field>
            <value>
                <elementReference>rDocketSuffix.Family_ID_Start_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuffixCounter__c</field>
            <value>
                <elementReference>SuffixCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Docket_Number_Suffix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_rTrademarkSuffixSuffix</name>
        <label>Create rTrademarkSuffixSuffix</label>
        <locationX>50</locationX>
        <locationY>957</locationY>
        <connector>
            <targetReference>rTrademarkSuffix</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Id__c</field>
            <value>
                <elementReference>rTrademark.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocketGroup__c</field>
            <value>
                <stringValue>Group-9</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family_ID_Start_Number__c</field>
            <value>
                <elementReference>rDocketSuffix.Family_ID_Start_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuffixCounter__c</field>
            <value>
                <elementReference>SuffixCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Docket_Number_Suffix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>dRootPatentDocketNumber</name>
        <label>dRootPatentDocketNumber</label>
        <locationX>2262</locationX>
        <locationY>1374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Design_rRootDocketNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Root_Design_Docket_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dRootDocketNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Jurisdiction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rDesign.SymphonyLF__Jurisdiction__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Design__c</object>
        <sortField>SymphonyLF__Docket_Number_Suffix__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rAgreement</name>
        <label>rAgreement</label>
        <locationX>1485</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rAgreementAP_SuffixCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Agreement_Contract__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rAgreementSuffix</name>
        <label>rAgreementSuffix</label>
        <locationX>1510</locationX>
        <locationY>1421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Agreement_Suffix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>recordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rAgreement.SymphonyLF__Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DocketGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group-5</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Docket_Number_Suffix__c</object>
        <sortField>SuffixCounter__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rCopyright</name>
        <label>rCopyright</label>
        <locationX>1319</locationX>
        <locationY>1140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rCopyrightAP_SuffixCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Copyright__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rCopyrightSuffix</name>
        <label>rCopyrightSuffix</label>
        <locationX>1204</locationX>
        <locationY>1301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_rCopyrightSuffix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>recordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rCopyright.SymphonyLF__Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DocketGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group-7</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Docket_Number_Suffix__c</object>
        <sortField>SuffixCounter__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rDesign</name>
        <label>rDesign</label>
        <locationX>2008</locationX>
        <locationY>969</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rDesignAP_SuffixCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Design__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rDesignFamily</name>
        <label>rDesignFamily</label>
        <locationX>3360</locationX>
        <locationY>982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rDesignFamilyAP_SuffixCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Design_Family__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rDesignsSuffix</name>
        <label>rDesignsSuffix</label>
        <locationX>2119</locationX>
        <locationY>1164</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_rDesignsSuffix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>recordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DocketGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rDesign.SymphonyLF__Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Docket_Number_Suffix__c</object>
        <sortField>SuffixCounter__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rDisDocketSuffix</name>
        <label>rDisDocketSuffix</label>
        <locationX>2744</locationX>
        <locationY>1186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_rDisDocketSuffix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>recordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rDispute.SymphonyLF__Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DocketGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group-6</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Docket_Number_Suffix__c</object>
        <sortField>SuffixCounter__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rDispute</name>
        <label>rDispute</label>
        <locationX>2492</locationX>
        <locationY>1100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rDisputeAP_SuffixCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Dispute_Opposition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rDocketSuffix</name>
        <label>rDocketSuffix</label>
        <locationX>1625</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_DocketSuffix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Docket_Suffix__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rMark</name>
        <label>rMark</label>
        <locationX>1685</locationX>
        <locationY>962</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rMarkcmpAP_SuffixCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Mark__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rMarkSuffix</name>
        <label>rMarkSuffix</label>
        <locationX>1917</locationX>
        <locationY>824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_rMarkSuffex</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>recordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DocketGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group-2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Client_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rMark.SymphonyLF__Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Docket_Number_Suffix__c</object>
        <sortField>SuffixCounter__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rMatters</name>
        <label>rMatters</label>
        <locationX>2811</locationX>
        <locationY>1022</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_the_Matter_CaseType_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__General_Matter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rMattersSuffix</name>
        <label>rMattersSuffix</label>
        <locationX>3209</locationX>
        <locationY>1174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Matters_Suffix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>recordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rMatters.SymphonyLF__Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DocketGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Docket_Number_Suffix__c</object>
        <sortField>SuffixCounter__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RootPatentDocketNumber</name>
        <label>RootPatentDocketNumber</label>
        <locationX>966</locationX>
        <locationY>956</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Jurisdication_CaseType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Root_Patent_Docket_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RootDocketNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rPatent.SymphonyLF__Country__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rPatent.SymphonyLF__Case_Type__c</elementReference>
            </value>
        </filters>
        <object>SymphonyLF__Patent__c</object>
        <outputReference>rRootPatentDocketNumber</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyLF__Docket_Number_Suffix__c</queriedFields>
        <queriedFields>SymphonyLF__Family_ID__c</queriedFields>
        <queriedFields>SymphonyLF__Docket_Number_Family_ID__c</queriedFields>
        <queriedFields>SymphonyLF__Docket_Number__c</queriedFields>
        <queriedFields>SymphonyLF__Root_Patent_Docket_Number__c</queriedFields>
        <sortField>SymphonyLF__Docket_Number_Suffix__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>RootPatentDocketNumberCaseType</name>
        <label>RootPatentDocketNumberCaseType</label>
        <locationX>633</locationX>
        <locationY>1218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_rPatentFamilyId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Root_Patent_Docket_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RootDocketNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rPatent.SymphonyLF__Country__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Case_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCaseType</elementReference>
            </value>
        </filters>
        <object>SymphonyLF__Patent__c</object>
        <outputReference>rRootPatentDocketNumber</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyLF__Docket_Number_Suffix__c</queriedFields>
        <queriedFields>SymphonyLF__Family_ID__c</queriedFields>
        <queriedFields>SymphonyLF__Docket_Number_Family_ID__c</queriedFields>
        <queriedFields>SymphonyLF__Docket_Number__c</queriedFields>
        <queriedFields>SymphonyLF__Root_Patent_Docket_Number__c</queriedFields>
        <sortField>SymphonyLF__Docket_Number_Suffix__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>RootPatentDocketNumbers</name>
        <label>RootPatentDocketNumbers</label>
        <locationX>836</locationX>
        <locationY>1232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_rPatentFamilyId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Root_Patent_Docket_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RootDocketNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rPatent.SymphonyLF__Country__c</elementReference>
            </value>
        </filters>
        <object>SymphonyLF__Patent__c</object>
        <outputReference>rRootPatentDocketNumber</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SymphonyLF__Docket_Number_Suffix__c</queriedFields>
        <queriedFields>SymphonyLF__Family_ID__c</queriedFields>
        <queriedFields>SymphonyLF__Docket_Number_Family_ID__c</queriedFields>
        <queriedFields>SymphonyLF__Docket_Number__c</queriedFields>
        <queriedFields>SymphonyLF__Root_Patent_Docket_Number__c</queriedFields>
        <sortField>SymphonyLF__Docket_Number_Suffix__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>rPatent</name>
        <label>rPatent</label>
        <locationX>1255</locationX>
        <locationY>921</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rPatentAP_SuffixCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Patent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rPatentFamily</name>
        <label>rPatentFamily</label>
        <locationX>1723</locationX>
        <locationY>1177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rPatentFamilyAP_SuffixCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Patent_Family__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rPatentFamilySuffix</name>
        <label>rPatentFamilySuffix</label>
        <locationX>1816</locationX>
        <locationY>1305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_rPatentFamilySuffix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>recordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DocketGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group-3</stringValue>
            </value>
        </filters>
        <filters>
            <field>Client_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rPatentFamily.SymphonyLF__Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Docket_Number_Suffix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rPatentSuffix</name>
        <label>rPatentSuffix</label>
        <locationX>922</locationX>
        <locationY>689</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_rPatentSuffix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>recordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DocketGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group-4</stringValue>
            </value>
        </filters>
        <filters>
            <field>Client_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rPatent.SymphonyLF__Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Docket_Number_Suffix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rrDesignFamilySuffix</name>
        <label>rrDesignFamilySuffix</label>
        <locationX>3726</locationX>
        <locationY>979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_rDesignFamilySuffix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>recordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rDesignFamily.SymphonyLF__Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DocketGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group-3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Docket_Number_Suffix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rTrademark</name>
        <label>rTrademark</label>
        <locationX>600</locationX>
        <locationY>874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rTrademarkAP_SuffixCounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Trademark__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rTrademarkSuffix</name>
        <label>rTrademarkSuffix</label>
        <locationX>364</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_rTrademarkSuffix</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>recordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DocketGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Group-9</stringValue>
            </value>
        </filters>
        <filters>
            <field>Client_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rTrademark.SymphonyLF__Client__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Docket_Number_Suffix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>tRootPatentDocketNumber</name>
        <label>tRootPatentDocketNumber</label>
        <locationX>221</locationX>
        <locationY>1198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_rRootDocketNumber_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Root_Mark_Docket_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrademarkRootDocket</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Jurisdiction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rTrademark.SymphonyLF__Jurisdiction__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Trademark__c</object>
        <sortField>SymphonyLF__Docket_Number_Suffix__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>3391</locationX>
        <locationY>1721</locationY>
        <connector>
            <targetReference>Set_OPNMattersDocket_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rMattersSuffix.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Family_ID_Start_Number__c</field>
            <value>
                <elementReference>DocketNumberSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuffixCounter__c</field>
            <value>
                <elementReference>DocketNumberSuffix</elementReference>
            </value>
        </inputAssignments>
        <object>Docket_Number_Suffix__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AGRPatentDocketNumber_Docket</name>
        <label>Update AGRPatentDocketNumber Docket</label>
        <locationX>1472</locationX>
        <locationY>2080</locationY>
        <connector>
            <targetReference>Set_Finished_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_rAgreementSuffixFamilyCounter_Add</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Docket_Number_Suffix__c</field>
            <value>
                <elementReference>DocketNumberSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDocketNumberGenerated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_Number__c</field>
            <value>
                <elementReference>AGRPatentDocketNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Family_ID__c</field>
            <value>
                <elementReference>AGRPatentDocketFamilyId</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Agreement_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Copyright_Docket</name>
        <label>Update Copyright Docket</label>
        <locationX>1221</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Set_Finished_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Finished_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Docket_Number_Suffix__c</field>
            <value>
                <elementReference>DocketNumberSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDocketNumberGenerated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_Number__c</field>
            <value>
                <elementReference>PatentDocketNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Family_ID__c</field>
            <value>
                <elementReference>CPYPatentDocketFamilyId</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Copyright__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Design_Docket</name>
        <label>Update Design Docket</label>
        <locationX>2207</locationX>
        <locationY>2482</locationY>
        <connector>
            <targetReference>Set_Finished_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Finished_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsDocketNumberGenerated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_Number_Suffix__c</field>
            <value>
                <elementReference>DocketNumberSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_Number__c</field>
            <value>
                <elementReference>PatentDocketNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Family_ID__c</field>
            <value>
                <elementReference>FamilyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Root_Design_Docket_Number__c</field>
            <value>
                <elementReference>dRootDocketNumber</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Design__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_DesignFamily</name>
        <label>Update DesignFamily</label>
        <locationX>3767</locationX>
        <locationY>1648</locationY>
        <connector>
            <targetReference>Set_Finished_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Finished_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Docket_Number_Suffix__c</field>
            <value>
                <elementReference>DocketNumberSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDocketNumberGenerated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_Number__c</field>
            <value>
                <elementReference>PatentDocketNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Family_ID__c</field>
            <value>
                <elementReference>DFamiliesFamilyID</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Design_Family__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Mark</name>
        <label>Update Mark</label>
        <locationX>2703</locationX>
        <locationY>759</locationY>
        <connector>
            <targetReference>Set_Finished</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Finished</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Docket_Number_Suffix__c</field>
            <value>
                <elementReference>DocketNumberSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_FamilyId__c</field>
            <value>
                <elementReference>rMarkDocketFamilyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_Number__c</field>
            <value>
                <elementReference>PatentDocketNumber</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Mark__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Matters_Docket</name>
        <label>Update Matters Docket</label>
        <locationX>3242</locationX>
        <locationY>1968</locationY>
        <connector>
            <targetReference>Set_Finished_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Finished_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Docket_Number_Suffix__c</field>
            <value>
                <elementReference>DocketNumberSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDocketNumberGenerated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_Number__c</field>
            <value>
                <elementReference>PatentDocketNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Family_ID__c</field>
            <value>
                <elementReference>GeneralMatterFamilyId</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyLF__General_Matter__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OPPDispute_Docket</name>
        <label>Update OPPDispute Docket</label>
        <locationX>2632</locationX>
        <locationY>1837</locationY>
        <connector>
            <targetReference>Set_Finished_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Dispute_Docket_SuffixCounter_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Docket_Number_Suffix__c</field>
            <value>
                <elementReference>DocketNumberSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDocketNumberGenerated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_Number__c</field>
            <value>
                <elementReference>PatentDocketNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Family_ID__c</field>
            <value>
                <elementReference>DisputeFamilyId</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Dispute_Opposition__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patent_Docket</name>
        <label>Update Patent Docket</label>
        <locationX>910</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Set_Finished_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Finished_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsDocketNumberGenerated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_Number_Suffix__c</field>
            <value>
                <elementReference>DocketNumberSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_Number__c</field>
            <value>
                <elementReference>PatentDocketNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Family_ID__c</field>
            <value>
                <elementReference>FamilyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Root_Patent_Docket_Number__c</field>
            <value>
                <elementReference>RootDocketNumber</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Patent__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patent_Family</name>
        <label>Update Patent Family</label>
        <locationX>1953</locationX>
        <locationY>2047</locationY>
        <connector>
            <targetReference>Set_Finished_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Finished_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Docket_Number_Suffix__c</field>
            <value>
                <elementReference>DocketNumberSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDocketNumberGenerated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_FamilyId__c</field>
            <value>
                <elementReference>PatentFamilyDocketFamilyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_Number__c</field>
            <value>
                <elementReference>PatentDocketNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Family_ID__c</field>
            <value>
                <elementReference>DocketNumberSuffix</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Patent_Family__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Trademark_Docket</name>
        <label>Update Trademark Docket</label>
        <locationX>318</locationX>
        <locationY>2274</locationY>
        <connector>
            <targetReference>Set_Finished_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Finished_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsDocketNumberGenerated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_Number_Suffix__c</field>
            <value>
                <elementReference>DocketNumberSuffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Docket_Number__c</field>
            <value>
                <elementReference>PatentDocketNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Family_Id__c</field>
            <value>
                <elementReference>FamilyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Root_Mark_Docket_Number__c</field>
            <value>
                <elementReference>TrademarkRootDocket</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Trademark__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>1471</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>rDocketSuffix</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>rAgreementAP_SuffixCounter</name>
        <label>rAgreementAP_SuffixCounter</label>
        <locationX>1632</locationX>
        <locationY>1320</locationY>
        <connector>
            <targetReference>rAgreementSuffix</targetReference>
        </connector>
        <flowName>cmpAP_SuffixCounter</flowName>
        <inputAssignments>
            <name>Client_Id</name>
            <value>
                <elementReference>rAgreement.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DocketGroup</name>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SuffixCounter</assignToReference>
            <name>SuffixCounter</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>rCopyrightAP_SuffixCounter</name>
        <label>rCopyrightAP_SuffixCounter</label>
        <locationX>1189</locationX>
        <locationY>1156</locationY>
        <connector>
            <targetReference>rCopyrightSuffix</targetReference>
        </connector>
        <flowName>cmpAP_SuffixCounter</flowName>
        <inputAssignments>
            <name>Client_Id</name>
            <value>
                <elementReference>rCopyright.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DocketGroup</name>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SuffixCounter</assignToReference>
            <name>SuffixCounter</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>rDesignAP_SuffixCounter</name>
        <label>rDesignAP_SuffixCounter</label>
        <locationX>2202</locationX>
        <locationY>986</locationY>
        <connector>
            <targetReference>rDesignsSuffix</targetReference>
        </connector>
        <flowName>cmpAP_SuffixCounter</flowName>
        <inputAssignments>
            <name>Client_Id</name>
            <value>
                <elementReference>rDesign.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DocketGroup</name>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SuffixCounter</assignToReference>
            <name>SuffixCounter</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>rDesignFamilyAP_SuffixCounter</name>
        <label>rDesignFamilyAP_SuffixCounter</label>
        <locationX>3506</locationX>
        <locationY>982</locationY>
        <connector>
            <targetReference>rrDesignFamilySuffix</targetReference>
        </connector>
        <flowName>cmpAP_SuffixCounter</flowName>
        <inputAssignments>
            <name>Client_Id</name>
            <value>
                <elementReference>rDesignFamily.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DocketGroup</name>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SuffixCounter</assignToReference>
            <name>SuffixCounter</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>rDisputeAP_SuffixCounter</name>
        <label>rDisputeAP_SuffixCounter</label>
        <locationX>2635</locationX>
        <locationY>1097</locationY>
        <connector>
            <targetReference>rDisDocketSuffix</targetReference>
        </connector>
        <flowName>cmpAP_SuffixCounter</flowName>
        <inputAssignments>
            <name>Client_Id</name>
            <value>
                <elementReference>rDispute.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DocketGroup</name>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SuffixCounter</assignToReference>
            <name>SuffixCounter</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>rMarkcmpAP_SuffixCounter</name>
        <label>rMarkcmpAP_SuffixCounter</label>
        <locationX>1829</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>rMarkSuffix</targetReference>
        </connector>
        <flowName>cmpAP_SuffixCounter</flowName>
        <inputAssignments>
            <name>Client_Id</name>
            <value>
                <elementReference>rMark.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DocketGroup</name>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SuffixCounter</assignToReference>
            <name>SuffixCounter</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>rMattersAP_SuffixCounter</name>
        <label>rMattersAP_SuffixCounter</label>
        <locationX>3190</locationX>
        <locationY>1028</locationY>
        <connector>
            <targetReference>rMattersSuffix</targetReference>
        </connector>
        <flowName>cmpAP_SuffixCounter</flowName>
        <inputAssignments>
            <name>Client_Id</name>
            <value>
                <elementReference>rMatters.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DocketGroup</name>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SuffixCounter</assignToReference>
            <name>SuffixCounter</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>rPatentAP_SuffixCounter</name>
        <label>rPatentAP_SuffixCounter</label>
        <locationX>1129</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>rPatentSuffix</targetReference>
        </connector>
        <flowName>cmpAP_SuffixCounter</flowName>
        <inputAssignments>
            <name>Client_Id</name>
            <value>
                <elementReference>rPatent.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DocketGroup</name>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SuffixCounter</assignToReference>
            <name>SuffixCounter</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>rPatentFamilyAP_SuffixCounter</name>
        <label>rPatentFamilyAP_SuffixCounter</label>
        <locationX>1843</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>rPatentFamilySuffix</targetReference>
        </connector>
        <flowName>cmpAP_SuffixCounter</flowName>
        <inputAssignments>
            <name>Client_Id</name>
            <value>
                <elementReference>rPatentFamily.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DocketGroup</name>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SuffixCounter</assignToReference>
            <name>SuffixCounter</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>rTrademarkAP_SuffixCounter</name>
        <label>rTrademarkAP_SuffixCounter</label>
        <locationX>473</locationX>
        <locationY>865</locationY>
        <connector>
            <targetReference>rTrademarkSuffix</targetReference>
        </connector>
        <flowName>cmpAP_SuffixCounter</flowName>
        <inputAssignments>
            <name>Client_Id</name>
            <value>
                <elementReference>rTrademark.SymphonyLF__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DocketGroup</name>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>SuffixCounter</assignToReference>
            <name>SuffixCounter</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>DocketGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocketNumberSuffix</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FamilyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsFinished</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JurisdictionCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatentDocketNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{!RootDocketNumber}1</stringValue>
        </value>
    </variables>
    <variables>
        <name>rAgreementSuffixFamilyCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>rDisDocketSuffixFamilyCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rRootPatentDocketNumber</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyLF__Patent__c</objectType>
    </variables>
    <variables>
        <name>SuffixCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vCaseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
