force-app/main/default/flows/cmpAP_SuffixCounter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_SuffixCounter_Default</name>
        <label>Set SuffixCounter Default</label>
        <locationX>469</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>SuffixCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rDocketSuffix.Family_ID_Start_Number__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_SuffixCounter_Default_1</name>
        <label>Set SuffixCounter Default +1</label>
        <locationX>155</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>SuffixCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rDocket.SuffixCounter__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_SuffixCounter_Default_Add_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SuffixCounter_Default_Add_1</name>
        <label>Set SuffixCounter Default  Add 1</label>
        <locationX>259</locationX>
        <locationY>847</locationY>
        <assignmentItems>
            <assignToReference>SuffixCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Validate_rDocektGroup</name>
        <label>Validate rDocektGroup</label>
        <locationX>310</locationX>
        <locationY>568</locationY>
        <defaultConnector>
            <targetReference>Set_SuffixCounter_Default_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rDocektGroupNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rDocket</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SuffixCounter_Default</targetReference>
            </connector>
            <label>rDocektGroupNull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>cmpAP_SuffixCounter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmpAP_SuffixCounter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>rDocket</name>
        <label>rDocket</label>
        <locationX>277</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_rDocektGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DocketGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocketGroup</elementReference>
            </value>
        </filters>
        <filters>
            <field>Client_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Client_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Docket_Number_Suffix__c</object>
        <sortField>SuffixCounter__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rDocketSuffix</name>
        <label>rDocketSuffix</label>
        <locationX>305</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rDocket</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Docket_Suffix__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>184</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>rDocketSuffix</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Client_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DocketGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuffixCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
