force-app/main/default/flows/cmpAPiManage_Files.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Set_iManageEmailId</name>
        <label>Set iManageEmailId</label>
        <locationX>517</locationX>
        <locationY>1085</locationY>
        <assignmentItems>
            <assignToReference>iManageEmailId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iManageEmail.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iManageFileScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ParentIds</name>
        <label>Set ParentIds</label>
        <locationX>939</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>DocketingActivityIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!loop_for_DA_Ids.Id},</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_DA_Ids</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_rManageEMail</name>
        <label>Validate rManageEMail</label>
        <locationX>594</locationX>
        <locationY>773</locationY>
        <defaultConnector>
            <targetReference>Create_iManage_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>iManageEMailFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iManageEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_iManage_Email</targetReference>
            </connector>
            <label>iManageEMailFound</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>cmpAPiManage Files {!$Flow.CurrentDateTime}</interviewLabel>
    <label>iManage Files</label>
    <loops>
        <name>loop_for_DA_Ids</name>
        <label>loop for DA Ids</label>
        <locationX>722</locationX>
        <locationY>330</locationY>
        <collectionReference>records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_ParentIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>iManageEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_iManage_Emails</name>
        <label>Create iManage Emails</label>
        <locationX>704</locationX>
        <locationY>1009</locationY>
        <assignRecordIdToReference>iManageEmailId</assignRecordIdToReference>
        <connector>
            <targetReference>iManageFileScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>DocketActityIds__c</field>
            <value>
                <elementReference>DocketingActivityIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recordId__c</field>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </inputAssignments>
        <object>iManage_Emails__c</object>
    </recordCreates>
    <recordLookups>
        <name>iManageEmail</name>
        <label>iManageEmail</label>
        <locationX>654</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_rManageEMail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>recordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>iManage_Emails__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_iManage_Email</name>
        <label>Update iManage Email</label>
        <locationX>524</locationX>
        <locationY>919</locationY>
        <connector>
            <targetReference>Set_iManageEmailId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>iManageEmail.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DocketActityIds__c</field>
            <value>
                <elementReference>DocketingActivityIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recordId__c</field>
            <value>
                <elementReference>parentId</elementReference>
            </value>
        </inputAssignments>
        <object>iManage_Emails__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>iManageFileScreen</name>
        <label>iManageFileScreen</label>
        <locationX>605</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>cmpAPiManageFiles</name>
            <extensionName>c:cmpAPiManageFiles</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>parentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iManageEmailObjectId</name>
                <value>
                    <elementReference>iManageEmailId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>583</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>loop_for_DA_Ids</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DocketingActivityIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>iManageEmailId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>parentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyLF__Docketing_Activity__c</objectType>
    </variables>
    <variables>
        <name>vParentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
