force-app/main/default/flows/cmpAPMarkDocketGenerate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>Validate_Client_Number_is_Blank</name>
        <label>Validate Client Number is Blank</label>
        <locationX>559</locationX>
        <locationY>523</locationY>
        <customErrorMessages>
            <errorMessage>Client Number is Blank</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Validate_Client_Number_isBlank</name>
        <label>Validate Client Number isBlank</label>
        <locationX>426</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>cmpAP_Generate_DocketNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Number_isBlank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Client__r.SymphonyLF__Client_Number_New__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Validate_Client_Number_is_Blank</targetReference>
            </connector>
            <label>Client Number isBlank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>cmpAPMarkDocketGenerate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmpAPMarkDocketGenerate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>327</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Validate_Client_Number_isBlank</targetReference>
        </connector>
        <object>SymphonyLF__Mark__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>cmpAP_Generate_DocketNumber</name>
        <label>cmpAP_Generate_DocketNumber</label>
        <locationX>322</locationX>
        <locationY>530</locationY>
        <flowName>cmpAP_Generate_DocketNumber</flowName>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <stringValue>SymphonyLF__Mark__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
