force-app/main/default/flows/cmpAPDocuSginedPerson.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>cmpAPIDFTabRefresh</name>
        <label>cmpAPIDFTabRefresh</label>
        <locationX>463</locationX>
        <locationY>922</locationY>
        <actionName>c:cmpAPIDFTabRefresh</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:cmpAPIDFTabRefresh</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Validate_Person</name>
        <label>Validate Person</label>
        <locationX>423</locationX>
        <locationY>617</locationY>
        <defaultConnector>
            <targetReference>PersonError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Validate_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DocuSignedPatent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_DocuSigned</targetReference>
            </connector>
            <label>Outcome 1 of Validate Person</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>cmpAPDocuSginedPerson {!$Flow.CurrentDateTime}</interviewLabel>
    <label>cmpAPDocuSginedPerson</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_DocuSigned</name>
        <label>Create DocuSigned</label>
        <locationX>331</locationX>
        <locationY>777</locationY>
        <connector>
            <targetReference>cmpAPIDFTabRefresh</targetReference>
        </connector>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>rPerson.SymphonyLF__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventor_Name__c</field>
            <value>
                <elementReference>rPerson.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person__c</field>
            <value>
                <elementReference>PersonId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>DocuSignReviewer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>DocuSignedPatent</name>
        <label>DocuSignedPatent</label>
        <locationX>453</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rPerson</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>recordId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Person__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DocuSignReviewer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>rPerson</name>
        <label>rPerson</label>
        <locationX>444</locationX>
        <locationY>489</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Person</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PersonId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AddReviewerDetails</name>
        <label>AddReviewerDetails</label>
        <locationX>348</locationX>
        <locationY>230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DocuSignedPatent</targetReference>
        </connector>
        <fields>
            <name>Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SymphonyLF__Patent__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>SymphonyLF__First_Named_Inventor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PersonId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PersonError</name>
        <label>PersonError</label>
        <locationX>742</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>AddReviewerDetails</targetReference>
        </connector>
        <fields>
            <name>displayerrore</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 7, 7);&quot;&gt;Selected Person already exist.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>324</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>AddReviewerDetails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PersonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
