force-app/main/default/flows/Email_Tracker_Queue_Updation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Jurisdiction</name>
        <label>Jurisdiction</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Jurisdiction.SymphonyLF__Country__r.SymphonyLF__Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_queue_to_US_Patents</targetReference>
            </connector>
            <label>If US</label>
        </rules>
        <rules>
            <name>If_not_US_WIPO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Jurisdiction.SymphonyLF__Country__r.SymphonyLF__Country_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Jurisdiction.SymphonyLF__Country__r.SymphonyLF__Country_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_queue_to_Foreign_Patents</targetReference>
            </connector>
            <label>If not US/WIPO</label>
        </rules>
        <rules>
            <name>If_WIPO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Jurisdiction.SymphonyLF__Country__r.SymphonyLF__Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_queue_to_PCT_National_Patents</targetReference>
            </connector>
            <label>If WIPO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jurisdiction_Check</name>
        <label>Jurisdiction Check</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_TM_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TM_Jurisdiction.SymphonyLF__Jurisdiction__r.SymphonyLF__Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TM</targetReference>
            </connector>
            <label>If US</label>
        </rules>
        <rules>
            <name>If_not_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TM_Jurisdiction.SymphonyLF__Jurisdiction__r.SymphonyLF__Country_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Queue_Foreign_Trademarks</targetReference>
            </connector>
            <label>If not US</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queue_Assignment_check</name>
        <label>Queue Assignment check</label>
        <locationX>1832</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_US_Patent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Patent__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Jurisdiction</targetReference>
            </connector>
            <label>If US Patent</label>
        </rules>
        <rules>
            <name>If_Design</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Design__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Queue_to_Design</targetReference>
            </connector>
            <label>If Design</label>
        </rules>
        <rules>
            <name>If_Trademarks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Trademark__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TM_Jurisdiction</targetReference>
            </connector>
            <label>If Trademarks</label>
        </rules>
        <rules>
            <name>If_Copyright</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Copyright__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Queue_to_Copyright</targetReference>
            </connector>
            <label>If Copyright</label>
        </rules>
        <rules>
            <name>if_Dispute_and_Opposition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Dispute_Opposition__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Queue_to_Dispute_Opposition</targetReference>
            </connector>
            <label>if Dispute and Opposition</label>
        </rules>
        <rules>
            <name>If_Agreement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Agreement_Contract__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Queue_Agreement</targetReference>
            </connector>
            <label>If Agreement</label>
        </rules>
        <rules>
            <name>If</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__General_Matter__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Queue</targetReference>
            </connector>
            <label>If General Matter</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email Tracker Queue Updation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Tracker Queue Updation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Jurisdiction</name>
        <label>Get Jurisdiction</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Jurisdiction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Email_RelatedToId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Patent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TM_Jurisdiction</name>
        <label>Get TM Jurisdiction</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Jurisdiction_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Email_RelatedToId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Trademark__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Queue_to_Copyright</name>
        <label>Update Queue to Copyright</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <stringValue>Copyright</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Queue</name>
        <label>Update Queue</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <stringValue>General Matter</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Queue_Agreement</name>
        <label>Update Queue to Agreement</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <stringValue>Agreement</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Queue_Foreign_Trademarks</name>
        <label>Update Queue Foreign Trademarks</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <stringValue>Foreign Trademarks</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Queue_to_Design</name>
        <label>Update Queue to Design</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <stringValue>Design</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Queue_to_Dispute_Opposition</name>
        <label>Queue to Dispute and Opposition</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <stringValue>Dispute and Opposition</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_queue_to_Foreign_Patents</name>
        <label>Update queue to Foreign Patents</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <stringValue>Foreign Patents</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_queue_to_PCT_National_Patents</name>
        <label>Update queue to PCT National Patents</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <stringValue>PCT National Patents</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_queue_to_US_Patents</name>
        <label>Update queue to US Patents</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <stringValue>US Patents</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TM</name>
        <label>Update TM</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Queue__c</field>
            <value>
                <stringValue>US Trademarks</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1706</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Queue_Assignment_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Related_To__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SymphonyLF__Email_Tracker__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
