force-app/main/default/flows/Inventor_Designer_Author.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Copyright_IDA_List</name>
        <label>Assign Copyright IDA List</label>
        <locationX>4087</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copyright_Find_Duplicate_Author</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CP_of_Iterate_IDA_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Design_IDA_List</name>
        <label>Assign Design IDA List</label>
        <locationX>2580</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Design_Find_Duplicate_Designer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DF_Iterate_IDA_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DF_IDA_List</name>
        <label>Assign DF IDA List</label>
        <locationX>2316</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DF_Find_Duplicate_Designer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DF_Iterate_IDA_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patent_IDA_List</name>
        <label>Assign Patent IDA List</label>
        <locationX>908</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Patent_Get_Existing_Primary_Inventor_or_Duplicate_Inventor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PF_Iterate_IDA_List1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PF_IDA_List</name>
        <label>Assign PF IDA List</label>
        <locationX>644</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PF_Get_Existing_Primary_Inventor_or_Duplicate_Inventor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PF_Iterate_IDA_List1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Size</name>
        <label>Assignment Size</label>
        <locationX>666</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>GetAllIDAListSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>PF_Get_All_IDA_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>IDAList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PF_Get_All_IDA_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Get_All_IDA_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Size_CP</name>
        <label>Assignment Size</label>
        <locationX>4142</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>GetAllIDAListSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Copyright_Get_All_IDA_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>IDAList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copyright_Get_All_IDA_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CP_Loop_on_Get_All_IDA_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignment_Size</name>
        <label>Assignment Size</label>
        <locationX>2338</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>GetAllIDAListSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DF_Get_All_IDA_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>IDAList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DF_Get_All_IDA_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Get_All_IDA_Records1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assignment_Size</name>
        <label>Assignment Size</label>
        <locationX>930</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>GetAllIDAListSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Patent_Get_All_IDA_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>IDAList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Patent_Get_All_IDA_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Get_All_IDA_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assignment_Size</name>
        <label>Assignment Size</label>
        <locationX>2602</locationX>
        <locationY>2027</locationY>
        <assignmentItems>
            <assignToReference>GetAllIDAListSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Design_Get_All_IDA_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>IDAList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IDAList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Design_Get_All_IDA_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Get_All_IDA_Records1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Sequence</name>
        <label>Update Sequence</label>
        <locationX>2899</locationX>
        <locationY>3179</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>Copy_1_of_Greater_Size_Error</name>
        <label>Greater Size Error</label>
        <locationX>2954</locationX>
        <locationY>2435</locationY>
        <customErrorMessages>
            <errorMessage>This sequence Number is Greater than Total size of Designers or less than 0.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_1_of_Sequence_Field_Error</name>
        <label>Sequence Field Error</label>
        <locationX>2690</locationX>
        <locationY>2435</locationY>
        <customErrorMessages>
            <errorMessage>Duplicate Sequence Number. As this Sequence Number already exists on one of the Designer.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>CP_Error_Message</name>
        <label>CP Error Message</label>
        <locationX>4307</locationX>
        <locationY>1127</locationY>
        <customErrorMessages>
            <errorMessage>This Author already exists. Please choose other author.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>CP_Greater_Size_Error</name>
        <label>CP Greater Size Error</label>
        <locationX>4626</locationX>
        <locationY>2435</locationY>
        <customErrorMessages>
            <errorMessage>This sequence Number is Greater than Total size of Authors or less than 0.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>CP_Sequence_Field_Error</name>
        <label>CP Sequence Field Error</label>
        <locationX>4362</locationX>
        <locationY>2435</locationY>
        <customErrorMessages>
            <errorMessage>Duplicate Sequence Number. As this Sequence Number already exists on one of the Author.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>DF_Error_Message</name>
        <label>DF Error Message</label>
        <locationX>2668</locationX>
        <locationY>1127</locationY>
        <customErrorMessages>
            <errorMessage>This designer already exists. Please choose other designer.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>996</locationX>
        <locationY>1127</locationY>
        <customErrorMessages>
            <errorMessage>This inventor already exists. Please choose other inventor.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Greater_Size_Error</name>
        <label>Greater Size Error</label>
        <locationX>1282</locationX>
        <locationY>2435</locationY>
        <customErrorMessages>
            <errorMessage>This sequence Number is Greater than Total size of Inventors or less than 0.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Primary_Author_Sequence_Error</name>
        <label>Primary Author Sequence Error</label>
        <locationX>3394</locationX>
        <locationY>1811</locationY>
        <customErrorMessages>
            <errorMessage>Sequence No 1 can only assigned to primary author.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Primary_Designer_Sequence_Error</name>
        <label>Primary Designer Sequence Error</label>
        <locationX>1722</locationX>
        <locationY>1811</locationY>
        <customErrorMessages>
            <errorMessage>Sequence No 1 can only assigned to primary designer.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Primary_Inventor_Sequence_Error</name>
        <label>Primary Inventor Sequence Error</label>
        <locationX>50</locationX>
        <locationY>1811</locationY>
        <customErrorMessages>
            <errorMessage>Sequence No 1 can only assigned to primary inventor.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Sequence_Field_Error</name>
        <label>Sequence Field Error</label>
        <locationX>1018</locationX>
        <locationY>2435</locationY>
        <customErrorMessages>
            <errorMessage>Duplicate Sequence Number. As this Sequence Number already exists on one of the Inventors.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Field_Changed</name>
        <label>Check Field Changed</label>
        <locationX>1128</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Check_Sequence_Field_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Updated</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Parent_Object</targetReference>
            </connector>
            <label>Contact Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_Object</name>
        <label>Check Parent Object</label>
        <locationX>908</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>PF_Iterate_IDA_List1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patent_Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PF_Get_Existing_Primary_Inventor_or_Duplicate_Inventor</targetReference>
            </connector>
            <label>Patent Family</label>
        </rules>
        <rules>
            <name>Patent1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patent_Get_Existing_Primary_Inventor_or_Duplicate_Inventor</targetReference>
            </connector>
            <label>Patent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Parent_Object1</name>
        <label>Check Parent Object</label>
        <locationX>930</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Get_All_IDA_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patent_Family1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PF_Get_All_IDA_Records</targetReference>
            </connector>
            <label>Patent Family</label>
        </rules>
        <rules>
            <name>Patent11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patent_Get_All_IDA_Records</targetReference>
            </connector>
            <label>Patent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary</name>
        <label>Check Primary</label>
        <locationX>3031</locationX>
        <locationY>3071</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sequence</targetReference>
            </connector>
            <label>Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Author_Sequence</name>
        <label>Check Primary Author Sequence</label>
        <locationX>3988</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Check_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CP_Error</name>
            <conditionLogic>( 1 AND 2 ) OR ( 3 AND 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Author_Sequence_Error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
        <rules>
            <name>CP_Primary_Not_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SymphonyLF__Primary_Inventor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CP_Check_Parent_Object1</targetReference>
            </connector>
            <label>CP Primary Not Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Designer_Sequence</name>
        <label>Check Primary Designer Sequence</label>
        <locationX>2382</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Check_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PatentError</name>
            <conditionLogic>( 1 AND 2 ) OR ( 3 AND 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Designer_Sequence_Error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
        <rules>
            <name>Primary_Not_Changed1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SymphonyLF__Primary_Inventor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Check_Parent_Object</targetReference>
            </connector>
            <label>Primary Not Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Inventor_Sequence</name>
        <label>Check Primary Inventor Sequence</label>
        <locationX>710</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Check_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>( 1 AND 2 ) OR ( 3 AND 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Inventor_Sequence_Error</targetReference>
            </connector>
            <label>Error</label>
        </rules>
        <rules>
            <name>Primary_Not_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SymphonyLF__Primary_Inventor__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Parent_Object1</targetReference>
            </connector>
            <label>Primary Not Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record1</name>
        <label>Check Record</label>
        <locationX>2800</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>DF_Iterate_IDA_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Contact1</name>
            <conditionLogic>( 1 AND ( 2 OR 3 ) )</conditionLogic>
            <conditions>
                <leftValueReference>DF_Iterate_IDA_List.SymphonyLF__Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SymphonyLF__Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DF_Error_Message</targetReference>
            </connector>
            <label>Duplicate Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record12</name>
        <label>Check Record</label>
        <locationX>1128</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>PF_Iterate_IDA_List1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Contact_Inventor</name>
            <conditionLogic>( 1 AND ( 2 OR 3 )  )</conditionLogic>
            <conditions>
                <leftValueReference>PF_Iterate_IDA_List1.SymphonyLF__Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SymphonyLF__Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Contact__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Duplicate Contact Inventor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Related_Object</name>
        <label>Check Related Object</label>
        <locationX>3031</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PF_or_Patent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Field_Changed</targetReference>
            </connector>
            <label>PF or Patent</label>
        </rules>
        <rules>
            <name>DF_or_Design</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Check_Field_Changed</targetReference>
            </connector>
            <label>DF or Design</label>
        </rules>
        <rules>
            <name>Copyright</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Copyright__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CP_Check_Contact_Field_Changed</targetReference>
            </connector>
            <label>Copyright</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sequence_Field_Change</name>
        <label>Check Sequence Field Change</label>
        <locationX>1128</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Check_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sequence__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Primary_Inventor_Sequence</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sequence_Field_Change_Patent</name>
        <label>Check Sequence Field Change</label>
        <locationX>2800</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Check_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patent_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sequence__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Primary_Designer_Sequence</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sequence_No</name>
        <label>Check Sequence No</label>
        <locationX>1282</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Get_All_IDA_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Get_All_IDA_Records.Sequence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sequence__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Get_All_IDA_Records.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sequence_Field_Error</targetReference>
            </connector>
            <label>Duplicate Error</label>
        </rules>
        <rules>
            <name>Greater_than_size_Error</name>
            <conditionLogic>( ( 1 AND 5 AND 2 ) OR ( 6 AND 3 )  OR 4 ) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>GetAllIDAListSize</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NewSize</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Get_All_IDA_Records.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Greater_Size_Error</targetReference>
            </connector>
            <label>Greater than size Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Parent_Object</name>
        <label>Check Parent Object</label>
        <locationX>2580</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>DF_Iterate_IDA_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Design_Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DF_Find_Duplicate_Designer</targetReference>
            </connector>
            <label>Design Family</label>
        </rules>
        <rules>
            <name>Design</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Design_Find_Duplicate_Designer</targetReference>
            </connector>
            <label>Design</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Sequence_No</name>
        <label>Check Sequence No</label>
        <locationX>2954</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Get_All_IDA_Records1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Duplicate_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Get_All_IDA_Records1.Sequence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sequence__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Get_All_IDA_Records1.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Sequence_Field_Error</targetReference>
            </connector>
            <label>Duplicate Error</label>
        </rules>
        <rules>
            <name>Copy_1_of_Greater_than_size_Error</name>
            <conditionLogic>( 1  AND 2 AND 6 ) OR ( 3 AND 5 ) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>GetAllIDAListSize</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NewSize</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Greater_Size_Error</targetReference>
            </connector>
            <label>Greater than size Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_Field_Changed</name>
        <label>Check Contact Field Changed</label>
        <locationX>2800</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Check_Sequence_Field_Change_Patent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Updated1</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_Parent_Object</targetReference>
            </connector>
            <label>Contact Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_Parent_Object</name>
        <label>Check Parent Object</label>
        <locationX>2602</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Get_All_IDA_Records1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Design_Family1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DF_Get_All_IDA_Records</targetReference>
            </connector>
            <label>Design Family</label>
        </rules>
        <rules>
            <name>Design1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Design_Get_All_IDA_Records</targetReference>
            </connector>
            <label>Design</label>
        </rules>
    </decisions>
    <decisions>
        <name>CP_Check_Contact_Field_Changed</name>
        <label>Check Contact Field Changed</label>
        <locationX>4373</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>CP_Check_Sequence_Field_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Contact_Updated</name>
            <conditionLogic>1 AND ( 2 OR 3 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CP_Check_Parent_Object</targetReference>
            </connector>
            <label>Contact Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>CP_Check_Parent_Object</name>
        <label>Check Parent Object</label>
        <locationX>4219</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>CP_of_Iterate_IDA_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copyright1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Copyright__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copyright_Find_Duplicate_Author</targetReference>
            </connector>
            <label>Copyright</label>
        </rules>
    </decisions>
    <decisions>
        <name>CP_Check_Parent_Object1</name>
        <label>CP Check Parent Object</label>
        <locationX>4274</locationX>
        <locationY>1811</locationY>
        <defaultConnector>
            <targetReference>CP_Loop_on_Get_All_IDA_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CopyrightField</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Copyright__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copyright_Get_All_IDA_Records</targetReference>
            </connector>
            <label>Copyright</label>
        </rules>
    </decisions>
    <decisions>
        <name>CP_Check_Record</name>
        <label>Check Record</label>
        <locationX>4439</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>CP_of_Iterate_IDA_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CP_of_Duplicate_Contact</name>
            <conditionLogic>( 1 AND ( 2 OR 3 ) )</conditionLogic>
            <conditions>
                <leftValueReference>CP_of_Iterate_IDA_List.SymphonyLF__Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SymphonyLF__Contact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CP_Error_Message</targetReference>
            </connector>
            <label>Duplicate Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>CP_Check_Sequence_Field_Change</name>
        <label>CP Check Sequence Field Change</label>
        <locationX>4373</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Check_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CP_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sequence__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Primary_Author_Sequence</targetReference>
            </connector>
            <label>CP Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CP_Check_Sequence_No</name>
        <label>CP Check Sequence No</label>
        <locationX>4626</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>CP_Loop_on_Get_All_IDA_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CP_Duplicate_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CP_Loop_on_Get_All_IDA_Records.Sequence__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sequence__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CP_Loop_on_Get_All_IDA_Records.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CP_Sequence_Field_Error</targetReference>
            </connector>
            <label>CP Duplicate Error</label>
        </rules>
        <rules>
            <name>CP_Greater_than_size_Error</name>
            <conditionLogic>( 1  AND 2 AND 6 ) OR ( 3 AND 5 ) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>GetAllIDAListSize</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sequence__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>NewSize</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CP_Greater_Size_Error</targetReference>
            </connector>
            <label>CP Greater than size Error</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewSize</name>
        <dataType>Number</dataType>
        <expression>{!GetAllIDAListSize} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Inventor Designer Author {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventor Designer Author</label>
    <loops>
        <name>CP_Loop_on_Get_All_IDA_Records</name>
        <label>CP Loop on Get All IDA Records</label>
        <locationX>4274</locationX>
        <locationY>2219</locationY>
        <collectionReference>IDAList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CP_Check_Sequence_No</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Primary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CP_of_Iterate_IDA_List</name>
        <label>CP Iterate IDA List</label>
        <locationX>4219</locationX>
        <locationY>911</locationY>
        <collectionReference>IDAList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CP_Check_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CP_Check_Sequence_Field_Change</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>DF_Iterate_IDA_List</name>
        <label>Iterate IDA List</label>
        <locationX>2580</locationX>
        <locationY>911</locationY>
        <collectionReference>IDAList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Record1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Sequence_Field_Change_Patent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Get_All_IDA_Records</name>
        <label>Loop on Get All IDA Records</label>
        <locationX>930</locationX>
        <locationY>2219</locationY>
        <collectionReference>IDAList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Sequence_No</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Primary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Get_All_IDA_Records1</name>
        <label>Loop on Get All IDA Records</label>
        <locationX>2602</locationX>
        <locationY>2219</locationY>
        <collectionReference>IDAList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Check_Sequence_No</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Primary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PF_Iterate_IDA_List1</name>
        <label>Iterate IDA List</label>
        <locationX>908</locationX>
        <locationY>911</locationY>
        <collectionReference>IDAList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Record12</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Sequence_Field_Change</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copyright_Find_Duplicate_Author</name>
        <label>Copyright Find Duplicate Author</label>
        <locationX>4087</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Copyright_IDA_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Copyright__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Copyright__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Author</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copyright_Get_All_IDA_Records</name>
        <label>Copyright Get All IDA Records</label>
        <locationX>4142</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Size_CP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Copyright__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Copyright__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Author</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Design_Find_Duplicate_Designer</name>
        <label>Design Find Duplicate Designer</label>
        <locationX>2580</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Design_IDA_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Design__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Design__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Designer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Design_Get_All_IDA_Records</name>
        <label>Design Get All IDA Records</label>
        <locationX>2602</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Assignment_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Design__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Design__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Designer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DF_Find_Duplicate_Designer</name>
        <label>DF Find Duplicate Designer</label>
        <locationX>2316</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_DF_IDA_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Design_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Design_Family__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Designer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>DF_Get_All_IDA_Records</name>
        <label>DF Get All IDA Records</label>
        <locationX>2338</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assignment_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Design_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Design_Family__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Designer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Patent_Get_All_IDA_Records</name>
        <label>Patent Get All IDA Records</label>
        <locationX>930</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Assignment_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Patent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Patent__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Patent_Get_Existing_Primary_Inventor_or_Duplicate_Inventor</name>
        <label>Patent Get Existing Primary Inventor or Duplicate Inventor</label>
        <locationX>908</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Patent_IDA_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Patent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Patent__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PF_Get_All_IDA_Records</name>
        <label>PF Get All IDA Records</label>
        <locationX>666</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Patent_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Patent_Family__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PF_Get_Existing_Primary_Inventor_or_Duplicate_Inventor</name>
        <label>PF Get Existing Primary Inventor or Duplicate Inventor</label>
        <locationX>644</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_PF_IDA_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Patent_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Patent_Family__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2905</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Related_Object</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR 3</filterLogic>
        <filters>
            <field>SymphonyLF__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sequence__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetAllIDAListSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>IDAList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyLF__Inventor_Designer_Author__c</objectType>
    </variables>
</Flow>
