force-app/main/default/flows/Inventor_Designer_Author_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_Create_or_Update</name>
        <label>Check Create or Update</label>
        <locationX>1964</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Primary_Created</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Primary_Updated</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Created</name>
        <label>Check Primary Created</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patent_Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_Primary_Record</targetReference>
            </connector>
            <label>Patent Family</label>
        </rules>
        <rules>
            <name>Patent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Previous_Primary_Record</targetReference>
            </connector>
            <label>Patent</label>
        </rules>
        <rules>
            <name>Design_Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Previous_Primary_Record</targetReference>
            </connector>
            <label>Design Family</label>
        </rules>
        <rules>
            <name>Design</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Previous_Primary_Record</targetReference>
            </connector>
            <label>Design</label>
        </rules>
        <rules>
            <name>Copyright</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Copyright__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Update_Previous_Primary_Record</targetReference>
            </connector>
            <label>Copyright</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Updated</name>
        <label>Check Primary Updated</label>
        <locationX>2294</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Patent_Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Previous_Primary_Record1</targetReference>
            </connector>
            <label>Patent Family</label>
        </rules>
        <rules>
            <name>Patent1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patent_Update_Previous_Primary_Record</targetReference>
            </connector>
            <label>Patent</label>
        </rules>
        <rules>
            <name>Design_Family1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DF_Update_Previous_Primary_Record</targetReference>
            </connector>
            <label>Design Family</label>
        </rules>
        <rules>
            <name>Design1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Design_Update_Previous_Primary_Record</targetReference>
            </connector>
            <label>Design</label>
        </rules>
        <rules>
            <name>CopyrightUpd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Copyright__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copyright_Update_Previous_Primary_Record</targetReference>
            </connector>
            <label>Copyright</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PriorSequenceValue</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record__Prior.Sequence__c} == 1, null , {!$Record__Prior.Sequence__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Inventor/Designer/Author - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventor/Designer/Author - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Previous_Primary_Record</name>
        <label>Update Previous Primary Record</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Patent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Patent__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sequence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Previous_Primary_Record</name>
        <label>Update Previous Primary Record</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Design_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Design_Family__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sequence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Previous_Primary_Record</name>
        <label>Update Previous Primary Record</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Design__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Design__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sequence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Previous_Primary_Record</name>
        <label>Update Previous Primary Record</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Copyright__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Copyright__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sequence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copyright_Update_Previous_Primary_Record</name>
        <label>Copyright Update Previous Primary Record</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Copyright__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Copyright__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <elementReference>PriorSequenceValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Design_Update_Previous_Primary_Record</name>
        <label>Design Update Previous Primary Record</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Design__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Design__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <elementReference>PriorSequenceValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DF_Update_Previous_Primary_Record</name>
        <label>DF Update Previous Primary Record</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Design_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Design_Family__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <elementReference>PriorSequenceValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Patent_Update_Previous_Primary_Record</name>
        <label>Patent Update Previous Primary Record</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Patent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Patent__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <elementReference>PriorSequenceValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Primary_Record</name>
        <label>Update Previous Primary Record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Patent_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Patent_Family__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sequence__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Previous_Primary_Record1</name>
        <label>Update Previous Primary Record</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Patent_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Patent_Family__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <elementReference>PriorSequenceValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Primary_Inventor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
    </recordUpdates>
    <start>
        <locationX>1838</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Create_or_Update</targetReference>
        </connector>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
