force-app/main/default/flows/Map_First_Applicant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assignment</name>
        <label>Assignment</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>FirstInventorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Related_Inventors.SymphonyLF__Contact__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Related_Inventors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>1018</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>FirstInventorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Related_Inventors_for_patent.SymphonyLF__Contact__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Related_Inventors_for_patent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First_Inventor_Name</name>
        <label>Set First Inventor Name</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>InventorCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_FirstInventorName_is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_First_Inventor_Name_for_patent</name>
        <label>Set First Inventor Name for patent</label>
        <locationX>1150</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>InventorCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_FirstInventorName_is_Empty_for_patent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_FirstInventorName_is_Empty</name>
        <label>Check if FirstInventorName is Empty</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Related_Inventors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstInventorName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Related_Inventors.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment</targetReference>
            </connector>
            <label>If empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_FirstInventorName_is_Empty_for_patent</name>
        <label>Check if FirstInventorName is Empty for patent</label>
        <locationX>1150</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Related_Inventors_for_patent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_empty_inventor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstInventorName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Related_Inventors_for_patent.SymphonyLF__Primary_Inventor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_2</targetReference>
            </connector>
            <label>If empty inventor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Multiple_Inventors</name>
        <label>Check Multiple Inventors</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>update_the_single_design_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_One_Inventor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InventorCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_the_mutiple_design_record</targetReference>
            </connector>
            <label>More than One Inventor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Multiple_Inventors_for_patent</name>
        <label>Check Multiple Inventors for patent</label>
        <locationX>930</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>update_the_single_patent_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_One_Inventor_for_patent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InventorCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_the_mutiple_patent_record</targetReference>
            </connector>
            <label>More than One Inventor for patent</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_found</name>
        <label>If found</label>
        <locationX>754</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_design</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Related_Inventors</targetReference>
            </connector>
            <label>If design</label>
        </rules>
        <rules>
            <name>if_patent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Related_Inventors_for_patent</targetReference>
            </connector>
            <label>if patent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Map First Applicant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Map First Applicant</label>
    <loops>
        <name>Loop_Through_Related_Inventors</name>
        <label>Loop Through Related Inventors</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_All_Related_Inventors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_First_Inventor_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Multiple_Inventors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Related_Inventors_for_patent</name>
        <label>Loop Through Related Inventors for patent</label>
        <locationX>930</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_All_Related_Inventors_for_patent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_First_Inventor_Name_for_patent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Multiple_Inventors_for_patent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Inventors</name>
        <label>Get All Related Inventors</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Related_Inventors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Design__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Design__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Designer</stringValue>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Related_Inventors_for_patent</name>
        <label>Get All Related Inventors for patent</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Related_Inventors_for_patent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SymphonyLF__Patent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Patent__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inventor</stringValue>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_the_mutiple_design_record</name>
        <label>update the mutiple design record</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>First_Primary_Inventor__c</field>
            <value>
                <stringValue>{!FirstInventorName}, et al.</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SymphonyLF__Design__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_mutiple_patent_record</name>
        <label>update the mutiple patent record</label>
        <locationX>798</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>First_Inventor__c</field>
            <value>
                <stringValue>{!FirstInventorName}, et al.</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.SymphonyLF__Patent__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_single_design_record</name>
        <label>update the single design record</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>First_Primary_Inventor__c</field>
            <value>
                <elementReference>FirstInventorName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SymphonyLF__Design__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_the_single_patent_record</name>
        <label>update the single patent record</label>
        <locationX>1062</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>First_Inventor__c</field>
            <value>
                <elementReference>FirstInventorName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SymphonyLF__Patent__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_found</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SymphonyLF__Design__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SymphonyLF__Patent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SymphonyLF__Inventor_Designer_Author__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FirstInventorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InventorCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
