force-app/main/default/flows/MV_Email_Summary_Processing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_To_correspondence_URL</name>
        <label>Navigate To correspondence URL</label>
        <locationX>600</locationX>
        <locationY>1598</locationY>
        <actionName>c:cmpMVOpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>fToRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:cmpMVOpenURL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_email_tracker</name>
        <label>Navigate to email tracker</label>
        <locationX>204</locationX>
        <locationY>2738</locationY>
        <actionName>c:cmpMVOpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>/{!Get_New_Email_Tracker}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:cmpMVOpenURL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Matter_Docket</name>
        <label>Redirect to Matter Docket</label>
        <locationX>2008</locationX>
        <locationY>1598</locationY>
        <actionName>c:cmpMVOpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>fMatterURL</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:cmpMVOpenURL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Sending_Email</name>
        <label>Sending Email</label>
        <locationX>1480</locationX>
        <locationY>2630</locationY>
        <actionName>SendMail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Toast_Message</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ConDocIDs</name>
            <value>
                <elementReference>contentIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>vBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendTo</name>
            <value>
                <elementReference>listToEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tosub</name>
            <value>
                <elementReference>vSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendMail</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Toast_Message</name>
        <label>Toast Message</label>
        <locationX>1480</locationX>
        <locationY>2738</locationY>
        <actionName>c:cmpVLMToastInFlow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Email Sent Successfully</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <stringValue>5</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:cmpVLMToastInFlow</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Add_Content_Document_Link</name>
        <label>Assign &amp; Add Content Document Link</label>
        <locationX>292</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>New_ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Document_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Clone_Email_Message_with_Related_To</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_ContentDocumentLink.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_ContentDocumentLink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContentDocumentLinkRecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Id</name>
        <label>Assign Document Id</label>
        <locationX>1326</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>documentIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Content_Document_Link.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Email_cc_List</name>
        <label>Assigning Email cc List</label>
        <locationX>1568</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>listCCEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_CC_Emails.SymphonyLF__Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_CC_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Emails_to_List</name>
        <label>Assigning Emails to List</label>
        <locationX>1568</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>listToEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Emails.SymphonyLF__Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subject_Assignment</name>
        <label>Subject Assignment</label>
        <locationX>1238</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>vSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Tracker.SymphonyLF__Short_Subject__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Message</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Patent</name>
        <choiceText>Patent</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Patent</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Branch_on_Action</name>
        <label>Branch on Action</label>
        <locationX>1238</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Action_Update_Related_To</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>navigationFooter.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Related to</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>navigationFooterwithoutDocket.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Related to</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRelatedToScreen</targetReference>
            </connector>
            <label>Action = Update Related To</label>
        </rules>
        <rules>
            <name>Action_Correspondence_Compare_Widget</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>navigationFooter.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correspondence Compare Widget</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_To_correspondence_URL</targetReference>
            </connector>
            <label>Action = Correspondence Compare Widget</label>
        </rules>
        <rules>
            <name>Action_No_Further_Action</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>navigationFooter.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Further Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>navigationFooterwithoutDocket.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Further Action</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email_Tracker_Status</targetReference>
            </connector>
            <label>Action = No Further Action</label>
        </rules>
        <rules>
            <name>Action_Follow_up</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>navigationFooter.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow - up</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>navigationFooterwithoutDocket.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow - up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_Up_Screen</targetReference>
            </connector>
            <label>Action = Follow - up</label>
        </rules>
        <rules>
            <name>Action_Report_Now</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>navigationFooter.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Report Now</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>emailPreviewMV</targetReference>
            </connector>
            <label>Action = Report Now</label>
        </rules>
        <rules>
            <name>Initiate_Conflict_Check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>navigationFooter.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiate Conflict Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>navigationFooterwithoutDocket.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiate Conflict Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_Conflict_Checkmv</targetReference>
            </connector>
            <label>Initiate Conflict Check</label>
        </rules>
        <rules>
            <name>Action_Docket</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>navigationFooter.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Docket</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>navigationFooterwithoutDocket.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Docket</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect_to_Matter_Docket</targetReference>
            </connector>
            <label>Action = Docket</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the Object type of the related To to fetch the data accordingly</description>
        <name>Check_Related_To_Object</name>
        <label>Check Related To Object</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Content_Document_Link</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Its_Patent_Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_To_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Patent_Family__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patent_Family_Details</targetReference>
            </connector>
            <label>Its Patent Family</label>
        </rules>
        <rules>
            <name>Is_Patent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_To_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Patent__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patent_Details</targetReference>
            </connector>
            <label>Is Patent</label>
        </rules>
        <rules>
            <name>Its_Mark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_To_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Mark__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mark_Details</targetReference>
            </connector>
            <label>Its Mark</label>
        </rules>
        <rules>
            <name>Is_Trademark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_To_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Trademark__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Trademark_Details</targetReference>
            </connector>
            <label>Is Trademark</label>
        </rules>
        <rules>
            <name>is_Design_Family</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_To_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Design_Family__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Design_Family_Details</targetReference>
            </connector>
            <label>is Design Family</label>
        </rules>
        <rules>
            <name>Is_Design</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_To_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Design__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Design_Details</targetReference>
            </connector>
            <label>Is Design</label>
        </rules>
        <rules>
            <name>Its_Copyright</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_To_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Copyright__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Copyrights_Details</targetReference>
            </connector>
            <label>Its Copyright</label>
        </rules>
        <rules>
            <name>Its_General_Matter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_To_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__General_Matter__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_General_Matter_Details</targetReference>
            </connector>
            <label>Its General Matter</label>
        </rules>
        <rules>
            <name>opposition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_To_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SymphonyLF__Dispute_Opposition__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opposition_Details</targetReference>
            </connector>
            <label>Its opposition</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Matched</name>
        <label>Is Matched</label>
        <locationX>204</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>Update_Email_Tracker_Status1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Collection Tracker</defaultConnectorLabel>
        <rules>
            <name>Update_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Tracker.SymphonyLF__Related_To_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_reason</targetReference>
            </connector>
            <label>Related to Record</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FilingdateFormatChange</name>
        <dataType>Date</dataType>
        <expression>{!Get_Patent_Details.SymphonyLF__Application_Date__c}</expression>
    </formulas>
    <formulas>
        <name>filingDateText</name>
        <dataType>String</dataType>
        <expression>TEXT(DATEVALUE({!Email_Message.MessageDate}))</expression>
    </formulas>
    <formulas>
        <name>fMatterURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340})) + &apos;/lightning/r/&apos; + {!Email_Tracker.SymphonyLF__Related_Object_API_Name__c} + &apos;/&apos; +{!Email_Tracker.SymphonyLF__Email_RelatedToId__c} + &apos;/view?c__activeTab=Docket&apos;</expression>
    </formulas>
    <formulas>
        <name>fToRecord</name>
        <dataType>String</dataType>
        <expression>&quot;/lightning/r/&quot; &amp; {!Email_Tracker.SymphonyLF__Related_Object_API_Name__c} &amp; &quot;/&quot; &amp; {!Email_Tracker.SymphonyLF__Email_RelatedToId__c} &amp; &quot;/view?c__messageId=&quot; &amp; {!Email_Tracker.SymphonyLF__Email_Message_Id__c}</expression>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>MV Email Summary &amp; Processing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Summary &amp; Processing</label>
    <loops>
        <name>Content_Document_Link</name>
        <label>Content Document Link</label>
        <locationX>1238</locationX>
        <locationY>866</locationY>
        <collectionReference>Content_Document_Link_Recs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Document_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Content_Document_Recs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Document_Id</name>
        <label>Document Id</label>
        <locationX>204</locationX>
        <locationY>2114</locationY>
        <collectionReference>documentIdList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Add_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Document_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_CC_Emails</name>
        <label>Loop Over CC Emails</label>
        <locationX>1480</locationX>
        <locationY>2222</locationY>
        <collectionReference>Get_Person_CC_Emails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Email_cc_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updating_the_Email_tracker_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Emails</name>
        <label>Loop Over Emails</label>
        <locationX>1480</locationX>
        <locationY>1814</locationY>
        <collectionReference>Get_Person_Emails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigning_Emails_to_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Person_CC_Emails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Clone_Email_Message_with_Related_To</name>
        <label>Clone Email Message with Related To</label>
        <locationX>204</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Document_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>Email_Message.CcAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>Email_Message.FromAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromName</field>
            <value>
                <elementReference>Email_Message.FromName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Headers</field>
            <value>
                <elementReference>Email_Message.Headers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>Email_Message.HtmlBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>Email_Message.MessageDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>updateRelatedToCmp.relatedToId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Email_Message.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Email_Message.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Email_Category__c</field>
            <value>
                <elementReference>Email_Message.SymphonyLF__Email_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Related_Record_Name__c</field>
            <value>
                <elementReference>updateRelatedToCmp.relatedToName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>Email_Message.TextBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Email_Message.ToAddress</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Document_Links</name>
        <label>Create New Document Links</label>
        <locationX>204</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Get_new_Email_Message</targetReference>
        </connector>
        <inputReference>NewContentDocumentLinkRecs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Content_Document_Link_Recs</name>
        <label>Content Document Link Recs</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Related_To_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.SymphonyLF__Email_Message_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Content_Document_Recs</name>
        <label>Content Document Recs</label>
        <locationX>1238</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Profiles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>documentIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Email_Message</name>
        <label>Email Message</label>
        <locationX>1238</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Link_Recs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.SymphonyLF__Email_Message_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Email_Tracker</name>
        <label>Email Tracker</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subject_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Email_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Copyrights_Details</name>
        <label>Get Copyrights Details</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.SymphonyLF__Email_RelatedToId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Copyright__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Design_Details</name>
        <label>Get Design Details</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.SymphonyLF__Email_RelatedToId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Design__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Design_Family_Details</name>
        <label>Get Design Family Details</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.SymphonyLF__Email_RelatedToId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Design_Family__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_General_Matter_Details</name>
        <label>Get General Matter Details</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.SymphonyLF__Email_RelatedToId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__General_Matter__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mark_Details</name>
        <label>Get Mark Details</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.SymphonyLF__Email_RelatedToId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Mark__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_new_Email_Message</name>
        <label>Get new Email Message</label>
        <locationX>204</locationX>
        <locationY>2522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_New_Email_Tracker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Clone_Email_Message_with_Related_To</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Email_Tracker</name>
        <label>Get New Email Tracker</label>
        <locationX>204</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Navigate_to_email_tracker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_new_Email_Message.SymphonyLF__Email_Tracker__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Email_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opposition_Details</name>
        <label>Get Opposition Details</label>
        <locationX>2162</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.SymphonyLF__Email_RelatedToId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Dispute_Opposition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patent_Details</name>
        <label>Get Patent Details</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.SymphonyLF__Email_RelatedToId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Patent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patent_Family_Details</name>
        <label>Get Patent Family Details</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.SymphonyLF__Email_RelatedToId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Patent_Family__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_CC_Emails</name>
        <label>Get Person CC Emails</label>
        <locationX>1480</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_CC_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>listCCIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyLF__Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Emails</name>
        <label>Get Person Emails</label>
        <locationX>1480</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>listToIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SymphonyLF__Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Trademark_Details</name>
        <label>Get Trademark Details</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.SymphonyLF__Email_RelatedToId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SymphonyLF__Trademark__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Profiles</name>
        <label>Get User Profiles</label>
        <locationX>1238</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ProfileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_reason</name>
        <label>Add reason</label>
        <locationX>72</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Clone_Email_Message_with_Related_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyLF__Email_RelatedToId__c</field>
            <value>
                <elementReference>updateRelatedToCmp.relatedToId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Reason_For_Updating_Related_To__c</field>
            <value>
                <elementReference>Reason_For_Updating_Related_To</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Email_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Tracker_Review_Details</name>
        <label>Update Email Tracker Review Details</label>
        <locationX>864</locationX>
        <locationY>1706</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyLF__Date_Reviewed__c</field>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Reviewed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Email_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Tracker_Status</name>
        <label>Update Email Tracker Status</label>
        <locationX>864</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Update_Email_Tracker_Review_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyLF__Tracking_Status__c</field>
            <value>
                <stringValue>No Action</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Email_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Tracker_Status0</name>
        <label>Update Email Tracker Status</label>
        <locationX>1128</locationX>
        <locationY>1706</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Tracker.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyLF__Date_Reviewed_New__c</field>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Follow_up_Due_Date__c</field>
            <value>
                <elementReference>Due_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Review_Comments_New__c</field>
            <value>
                <elementReference>Follow_Up_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Reviewed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Tracking_Status__c</field>
            <value>
                <stringValue>Follow-up</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Email_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_Tracker_Status1</name>
        <label>Update Email Tracker Status</label>
        <locationX>336</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Clone_Email_Message_with_Related_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyLF__Reason_For_Updating_Related_To__c</field>
            <value>
                <elementReference>Reason_For_Updating_Related_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Tracking_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Email_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_the_Email_tracker_Records</name>
        <label>Updating the Email tracker Records</label>
        <locationX>1480</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Sending_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SymphonyLF__Date_Reviewed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Reviewed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SymphonyLF__Tracking_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Watch_Action_Status__c</field>
            <value>
                <stringValue>Report Now</stringValue>
            </value>
        </inputAssignments>
        <object>SymphonyLF__Email_Tracker__c</object>
    </recordUpdates>
    <screens>
        <name>Email_Summary</name>
        <label>Email Summary</label>
        <locationX>1238</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Branch_on_Action</targetReference>
        </connector>
        <fields>
            <name>Related_matter_details</name>
            <fieldText>Related Matter Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Related_matter_details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>relDetails</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Docket Number: &lt;/strong&gt;{!Get_Patent_Details.SymphonyLF__Docket_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Short Title: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Patent_Details.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Title: &lt;/strong&gt;{!Get_Patent_Details.Name}&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Application Number:&lt;/strong&gt; {!Get_Patent_Details.SymphonyLF__Filing_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Patent Number: &lt;/strong&gt;{!Get_Patent_Details.SymphonyLF__Patent_Number__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Patent__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Trademark_First_S</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Docket Number: &lt;/strong&gt;{!Get_Trademark_Details.SymphonyLF__Docket_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Trademark Name: &lt;/strong&gt;{!Get_Trademark_Details.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Application Number:&lt;/strong&gt; {!Get_Trademark_Details.SymphonyLF__Application_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Registration Number: &lt;/strong&gt;{!Get_Trademark_Details.SymphonyLF__Registration_No__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Trademark__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Design_First_S</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Docket Number: &lt;/strong&gt;{!Get_Design_Details.SymphonyLF__Docket_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Title:&lt;/strong&gt; {!Get_Design_Details.Name}&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Jurisdiction: &lt;/strong&gt;{!Get_Design_Details.SymphonyLF__Jurisdiction__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Application Number: &lt;/strong&gt;{!Get_Design_Details.SymphonyLF__Filing_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Registration Number: &lt;/strong&gt;{!Get_Design_Details.SymphonyLF__Registration_Number__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Design__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Design_Family_R</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Docket Number: &lt;/strong&gt;{!Get_Design_Family_Details.SymphonyLF__Docket_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Title: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Design_Family_Details.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Design_Family__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Patent_Family_L</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Docket Number: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Patent_Family_Details.SymphonyLF__Docket_Number__c} &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Patent_Family__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Mark_l</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Docket Number: &lt;/strong&gt;{!Get_Mark_Details.SymphonyLF__Docket_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Mark Name: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Mark_Details.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Mark__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copyright_l</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Docket Number: &lt;/strong&gt;{!Get_Copyrights_Details.SymphonyLF__Docket_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Title: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Copyrights_Details.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Registration Number: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Copyrights_Details.SymphonyLF__Registration_Number__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Copyright__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>opposition_l</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Docket Number: &lt;/strong&gt;{!Get_Opposition_Details.SymphonyLF__Docket_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Short Title: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Opposition_Details.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dispute Type: &lt;/strong&gt;{!Get_Opposition_Details.SymphonyLF__Dispute_Type__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Dispute_Opposition__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>General_Matters_l</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Docket Number: &lt;/strong&gt;{!Get_General_Matter_Details.SymphonyLF__Docket_Number__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Type: &lt;/strong&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;{!Get_General_Matter_Details.SymphonyLF__Type__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__General_Matter__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Related_matter_details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>relDetails1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Client:&lt;/strong&gt; {!Get_Patent_Details.SymphonyLF__Client__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Jurisdiction:&lt;/strong&gt; {!Get_Patent_Details.SymphonyLF__Country__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Filing Date:&lt;/strong&gt; {!filingDateAccLocale}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Issue/grant Date: &lt;/strong&gt;{!grantIssueDateAccLocale}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Patent__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Trademark_Sec_S</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Client:&lt;/strong&gt; {!Email_Tracker.SymphonyLF__Client__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Jurisdiction:&lt;/strong&gt; {!Get_Trademark_Details.SymphonyLF__Jurisdiction__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Filing Date: &lt;/strong&gt;{!filingDateAccLocale}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Registration Date:&lt;/strong&gt; {!registrationDateAccLocale}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Trademark__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Design_Sec_S</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Client: &lt;/strong&gt;{!Get_Design_Details.SymphonyLF__Client__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Design Name: &lt;/strong&gt;{!Get_Design_Details.SymphonyLF__Design_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Filing Date: &lt;/strong&gt;{!filingDateAccLocale}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Registration Date: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!registrationDateAccLocale}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Design__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Design_Family_L</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Client: &lt;/strong&gt;{!Get_Design_Family_Details.SymphonyLF__Client__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: Arial; color: rgb(0, 0, 0);&quot;&gt;Description: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Design_Family_Details.SymphonyLF__Description__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Design_Family__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Patent_Fam_r</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Title: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Patent_Family_Details.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Patent_Family__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Mark_r</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Client: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Mark_Details.SymphonyLF__Client__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Mark__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Copyright_r</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;Client: &lt;/strong&gt;&lt;span style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;{!Get_Copyrights_Details.SymphonyLF__Client__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Jurisdiction: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Copyrights_Details.SymphonyLF__Jurisdiction__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;);&quot;&gt;Registration Date: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!registrationDateAccLocale}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Copyright__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Opposition_r</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Client: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Opposition_Details.SymphonyLF__Client__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Jurisdiction: &lt;/strong&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &apos;Segoe UI&apos;, Roboto, Helvetica, Arial, sans-serif, &apos;Apple Color Emoji&apos;, &apos;Segoe UI Emoji&apos;, &apos;Segoe UI Symbol&apos;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;{!Get_Opposition_Details.SymphonyLF__Jurisdiction__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dispute Sub-Type: &lt;/strong&gt;{!Get_Opposition_Details.SymphonyLF__Dispute_Sub_Type__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__Dispute_Opposition__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>General_Matters_r</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Title: &lt;/strong&gt;{!Get_General_Matter_Details.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Jurisdiction: &lt;/strong&gt;{!Get_General_Matter_Details.SymphonyLF__Jurisdiction__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SymphonyLF__General_Matter__c</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Email_Tracker.SymphonyLF__Related_To_Collection__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Patent_Details.Id</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>null</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Email_Tracker.SymphonyLF__Related_Object_API_Name__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>SymphonyLF__Collection__c</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Email_Details</name>
            <fieldText>Email Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Email_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailDetails</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;From:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Email_Message.FromAddress}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;To:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Email_Message.ToAddress}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;cc:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Email_Message.CcAddress}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Date:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Email_Message.MessageDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Subject:&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; {!Email_Message.Subject}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>body</name>
                    <fieldText>&lt;p&gt;{!vBodyTemplate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EmailAttachments</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ContentDocument</typeValue>
                    </dataTypeMappings>
                    <extensionName>SymphonyLF:emailTrackerAttachments</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>docs</name>
                        <value>
                            <elementReference>Content_Document_Recs</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>navigationFooter</name>
            <extensionName>SymphonyLF:flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Follow Up&quot;,&quot;value&quot;:&quot;Follow - up&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;No Further Action&quot;,&quot;value&quot;:&quot;No Further Action&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Docket&quot;,&quot;value&quot;:&quot;Docket&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Initiate Conflict Check&quot;,&quot;value&quot;:&quot;Initiate Conflict Check&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:3},{&quot;label&quot;:&quot;Update Related To&quot;,&quot;value&quot;:&quot;Update Related to&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:4}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssString</name>
                <value>
                    <stringValue>font-size: 14px; font-weight: bold; text-align: center;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Actions</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_User_Profiles.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>MCCIP Accounts and Finance</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_User_Profiles.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>MCCIP Client</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Email_Tracker.SymphonyLF__Email_RelatedToId__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>navigationFooterwithoutDocket</name>
            <extensionName>SymphonyLF:flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cssString</name>
                <value>
                    <stringValue>font-size: 14px; font-weight: bold; text-align: center;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Follow Up&quot;,&quot;value&quot;:&quot;Follow - up&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;No Further Action&quot;,&quot;value&quot;:&quot;No Further Action&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Initiate Conflict Check&quot;,&quot;value&quot;:&quot;Initiate Conflict Check&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Update Related To&quot;,&quot;value&quot;:&quot;Update Related to&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Actions</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Email_Tracker.SymphonyLF__Email_RelatedToId__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>Get_User_Profiles.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>MCCIP Accounts and Finance</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_User_Profiles.Name</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>MCCIP Client</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>emailPreviewMV</name>
        <label>emailPreviewMV</label>
        <locationX>1480</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Person_Emails</targetReference>
        </connector>
        <fields>
            <name>EmailPreview</name>
            <extensionName>c:lwcEmailPreview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>subValue</name>
                <value>
                    <elementReference>vSubject</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vSubject</assignToReference>
                <name>subValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>vBody</assignToReference>
                <name>myVal</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contentIds</assignToReference>
                <name>contentIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>listCCIds</assignToReference>
                <name>selectedRecordsCCOutput</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>listToIds</assignToReference>
                <name>selectedRecordsToOutput</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Follow_Up_Screen</name>
        <label>Follow Up Screen</label>
        <locationX>1128</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Email_Tracker_Status0</targetReference>
        </connector>
        <fields>
            <name>Follow_Up_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Follow_Up_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Due_date</name>
                    <dataType>Date</dataType>
                    <fieldText>Due date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(250, 2, 6); font-family: Arial, Helvetica, sans-serif;&quot;&gt;Follow Up Due date should be greater than today.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Due_date} &gt; {!todayDate}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Follow_Up_Comment</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>false</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>false</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Initiate_Conflict_Checkmv</name>
        <label>Initiate Conflict Check</label>
        <locationX>1744</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ccNewRequest</name>
            <extensionName>c:ccNewRequest</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowModal</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showModal</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UpdateRelatedToScreen</name>
        <label>UpdateRelatedToScreen</label>
        <locationX>204</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Matched</targetReference>
        </connector>
        <fields>
            <name>updateRelatedToCmp</name>
            <extensionName>SymphonyLF:updateRelatedTo</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>UpdateRelatedToScreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>UpdateRelatedToScreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Reason_For_Updating_Related_To</name>
            <dataType>String</dataType>
            <fieldText>Reason For Updating Related To</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Email_Tracker.SymphonyLF__Related_To_Collection__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>SymphonyLF__Email_Summary_Processing_LF</sourceTemplate>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Tracker</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>vBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-scrollable&quot; style=&quot;height:500px;width:100%&quot;&gt;{!Email_Message.HtmlBody}&lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <name>contentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>documentIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Patent_Details.SymphonyLF__Application_Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>filingDateAccLocale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>grantIssueDateAccLocale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listCCEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listCCIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listToEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listToIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Email_Tracker.SymphonyLF__Email_Message_Id__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>New_ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NewContentDocumentLinkRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>registrationDateAccLocale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
