force-app/main/default/flows/mvlawfirmParentAutoLaunchFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_Conditiion</name>
        <label>Check Conditiion</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_DocketNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GenerateDocketNo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cmpAP_Generate_DocketNumber</targetReference>
            </connector>
            <label>If DocketNo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>mvlawfirmParentAutoLaunchFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>mvlawfirmParentAutoLaunchFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Conditiion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>cmpAP_Generate_DocketNumber</name>
        <label>cmpAP Generate DocketNumber</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <flowName>cmpAP_Generate_DocketNumber</flowName>
        <inputAssignments>
            <name>ObjectName</name>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
