force-app/main/default/flows/Populate_the_Expiration_Date_field_on_the_IPMatter_with_Delay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Designs_to_Collection</name>
        <label>Add Designs to Collection</label>
        <locationX>1546</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>designCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDesign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Design_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Patent_Collection</name>
        <label>Add to Patent Collection</label>
        <locationX>578</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>patentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singlePatent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_All_Patents_in_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_and_Assign_Design_record</name>
        <label>Get and Assign Design record</label>
        <locationX>1282</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>singleDesign.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Design__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDesign.SymphonyLF__Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Designs_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_and_Assign_Patent_variable</name>
        <label>Get and Assign Patent variable</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>singlePatent.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Patent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePatent.SymphonyLF__Estimated_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Patent_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_and_Assign_Patent_variable1</name>
        <label>Get and Assign Patent variable</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>singlePatent.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Patent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePatent.SymphonyLF__Estimated_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePatent.SymphonyLF__Adjusted_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePatent.SymphonyLF__Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Patent_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_and_Assign_Patent_variable2</name>
        <label>Get and Assign Patent variable</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>singlePatent.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Patent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePatent.SymphonyLF__Estimated_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Patent_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_and_Assign_Patent_variable_Remove_Other_Country_Record_Date</name>
        <label>Get and Assign Patent variable Remove Other Country Record Date</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>singlePatent.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Patent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePatent.SymphonyLF__Estimated_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePatent.SymphonyLF__Adjusted_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlePatent.SymphonyLF__Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Patent_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Design_record_and_Remove_Expiration_Date</name>
        <label>Get Design record and Remove Expiration Date</label>
        <locationX>1546</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>singleDesign.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SymphonyLF__Design__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleDesign.SymphonyLF__Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_Designs_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Design_Event_Name</name>
        <label>Design Event Name</label>
        <locationX>1546</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Add_Designs_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Design_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_and_Assign_Design_record</targetReference>
            </connector>
            <label>Update Design Date</label>
        </rules>
        <rules>
            <name>Remove_Exipartion_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Design_record_and_Remove_Expiration_Date</targetReference>
            </connector>
            <label>Remove Exipartion Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Event_Name</name>
        <label>Event Name</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Add_to_Patent_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Expiry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__r.SymphonyLF__Country__r.SymphonyLF__Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_and_Assign_Patent_variable</targetReference>
            </connector>
            <label>Expiry - US</label>
        </rules>
        <rules>
            <name>Other_Countries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_and_Assign_Patent_variable1</targetReference>
            </connector>
            <label>Other Countries</label>
        </rules>
        <rules>
            <name>Update_US_Record_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exipry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__r.SymphonyLF__Country__r.SymphonyLF__Country_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_and_Assign_Patent_variable2</targetReference>
            </connector>
            <label>Update US Record Dates</label>
        </rules>
        <rules>
            <name>Other_Country_Record_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_and_Assign_Patent_variable_Remove_Other_Country_Record_Date</targetReference>
            </connector>
            <label>Other Country Record Dates</label>
        </rules>
    </decisions>
    <decisions>
        <name>IP_Matter</name>
        <label>IP Matter</label>
        <locationX>1282</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Patent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Name</targetReference>
            </connector>
            <label>Patent</label>
        </rules>
        <rules>
            <name>Design</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Design__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SymphonyLF__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Design_Event_Name</targetReference>
            </connector>
            <label>Design</label>
        </rules>
    </decisions>
    <description>Delayed Flow, Created or Updated</description>
    <environments>Default</environments>
    <interviewLabel>Populate the Expiration Date field on the IPMatter with Delay {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate the Expiration Date field on the IPMatter with Delay</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_All_Patents_in_collection</name>
        <label>Update All Patents in collection</label>
        <locationX>578</locationX>
        <locationY>792</locationY>
        <inputReference>patentCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Design_Records</name>
        <label>Update Design Records</label>
        <locationX>1546</locationX>
        <locationY>792</locationY>
        <inputReference>designCollection</inputReference>
    </recordUpdates>
    <sourceTemplate>SymphonyLF__Populate_the_Expiration_Date_field_on_the_Patent_object</sourceTemplate>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SymphonyLF__Due_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SymphonyLF__Docketing_Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>IP_Matter</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>designCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyLF__Design__c</objectType>
    </variables>
    <variables>
        <name>patentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyLF__Patent__c</objectType>
    </variables>
    <variables>
        <name>singleDesign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyLF__Design__c</objectType>
    </variables>
    <variables>
        <name>singlePatent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SymphonyLF__Patent__c</objectType>
    </variables>
</Flow>
